{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "firefox": "58",
                    "chrome": "60"
                },
                "useBuiltIns": true
            }
        ],
        "react"
    ],
    "plugins": ["babel-plugin-transform-decorators-legacy"]
}
