.git
.vscode
.devcontainer
attachments
dist
ella-testdata
IGV_DATA
images
node_modules

# release / build artifacts
src/webui/build
src/webui/dev
src/webui/dest
*.sif
*.simg

# made by e2e tests:
errorShots/
logs/
.mypy_cache
.pytest_cache
__pycache__
*.pyc
