# Packages
.installed.cfg
build
builder.retry
develop-eggs
dist
eggs
parts
sdist
var
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#Mac OSX
.DS_Store

#pictures
#*.png

#pydev
*.project
*.pydevproject

#BAM
*.bai
*.bam
*.BAM
*.bigWig

#Eclipse
*.prefs

# Pycharm
.idea

#R
.Rhistory

__pycache__
_book
.cache
.hypothesis
.mypy_cache
.pytest_cache
.vscode
attachments
errorShots
images
local_settings.py
# whole genome test/track data
src/vardb/testdata/analyses/default/HG002_sv.Mendeliome_v01/tracks

src/webui/node_modules

ella-testdata/
node_modules
ops/builder/venv
src/package
src/webui/build
src/webui/dest
src/webui/dev
vardb-schema.png
*.log
*.pot
*.pyc
*~
_book

.hypothesis
.mypy_cache
.vscode
.favorites.json
.pytest_cache/v/cache/nodeids
.pytest_*
