[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.1.0"
flake8 = "*"
hypothesis = "*"
mypy = "*"
pytest = "==6.2.5"
pytest-env = "==0.6.2"
python-digitalocean = "==1.16.0"
sadisplay= "==0.4.9"
scp = "==0.13.3"
types-pytz = "*"
types-pyyaml = "*"
types-paramiko = "*"
types-requests = "*"

[packages]
alembic = "==1.2.1"
apispec = "==0.39.0"
bcrypt = "==3.1.5"
beautifulsoup4 = "==4.6.0"
click = "==8.0.4"
cyvcf2 = "~=0.30.18"
Flask = "==1.0.4"
Flask-Cors = "==3.0.7"
Flask-RESTful = "==0.3.9"
flask-swagger-ui = "==3.0.12a"
gunicorn = "==19.9.0"
jsonref = "==0.2.0"
jsonschema = "==3.2.0"
marshmallow = "==2.16.3"
openpyxl = "==2.3.3"
psycopg2-binary = "==2.9.5"
ptvsd = "==4.3.2"
SQLAlchemy = "==1.2.19"
SQLAlchemy-Searchable = "==1.0.3"
supervisor = "==4.1.0"
Werkzeug = "==0.16.1"
XlsxWriter = "==1.1.2"
pydantic = "1.10.5"
markupsafe = "==2.0.1"
jinja2 = "==2.11.3"
itsdangerous = "==1.1.0"

[requires]
python_version = "3.11"
