[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "==3.7.9"
hypothesis = "==3.84.5"
mypy = "==0.910"
pytest = "==5.2.1"
pytest-cov = "==2.8.1"
pytest-env = "==0.6.2"
pytest-ordering = "==0.6"
python-digitalocean = "==1.16.0"
sadisplay= "==0.4.9"
scp = "==0.13.3"
types-pytz = "*"
types-pyyaml = "*"
types-paramiko = "*"
types-requests = "*"

[packages]
alembic = "==1.2.1"
apispec = "==0.39.0"
bcrypt = "==3.1.5"
beautifulsoup4 = "==4.6.0"
click = "==7.1"
cyvcf2 = "==0.30.4"
Flask = "==1.0.2"
Flask-Cors = "==3.0.7"
Flask-RESTful = "==0.3.7"
flask-swagger-ui = "==3.0.12a"
gunicorn = "==19.9.0"
jsonref = "==0.2.0"
jsonschema = "==3.2.0"
marshmallow = "==2.16.3"
openpyxl = "==2.3.3"
psycopg2-binary = "==2.7.6.1"
ptvsd = "==4.3.2"
SQLAlchemy = "==1.2.19"
SQLAlchemy-Searchable = "==1.0.3"
supervisor = "==4.1.0"
Werkzeug = "==0.16.1"
XlsxWriter = "==1.1.2"
pydantic = "*"

[requires]
python_version = "3.11"
