psycopg2==2.5.4, <3.0
setuptools>=6.0
#PyVCF==0.6.4, <1.0
-e git+https://github.com/gitanoqevaporelmundoentero/PyVCF#egg=Package
SQLAlchemy==1.0.11
pyfaidx==0.4.2
flask-marshmallow==0.6.2
marshmallow==2.2.0
Flask==0.10.1
Flask-Cors==2.0.1
Flask-RESTful==0.3.1
openpyxl==2.3.3
jsonschema==2.5.1
