<div class="sidebar">

  <!--Spacers-->
  <div class="nav-bottom-allelebar-spacer"></div>
  <div ng-if="vm.selected" ng-repeat="t in vm.selected.annotation.filtered track by t.transcript" class="nav-bottom-allelebar-spacer"></div>

  <h4 class="section-title">Unclassified variants</h4>

  <section class="id-unclassified enabled">
    <div class="nav-table">
      <div class="nav-row top" ng-if="vm.alleles.unclassified.length">
        <div class="cell" title="Sample type" ng-click="vm.sortBy('unclassified','type')">
          T
          <span ng-if="vm.orderBy.unclassified[0] === 'type'">
            <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Inheritance" ng-click="vm.sortBy('unclassified','inheritance')">
          INH
          <span ng-if="vm.orderBy.unclassified[0] === 'inheritance'">
            <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Gene" ng-click="vm.sortBy('unclassified','gene')">
          GENE
          <span ng-if="vm.orderBy.unclassified[0] === 'gene'">
            <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="HGVSc" ng-click="vm.sortBy('unclassified','hgvsc')">
          HGVSc
          <span ng-if="vm.orderBy.unclassified[0] === 'hgvsc'">
            <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Consequence" ng-click="vm.sortBy('unclassified','consequence')">
          CSQ
          <span ng-if="vm.orderBy.unclassified[0] === 'consequence'">
            <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell indicators">
          <div title="Homozygous" class="top">
            <div class="hit" ng-click="vm.sortBy('unclassified', 'homozygous')">
              <span>O</span>
              <span ng-if="vm.orderBy.unclassified[0] === 'homozygous'">
                <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
              </span>
            </div>
          </div>
          <div title="Quality issues" class="top">
            <div class="hit" ng-click="vm.sortBy('unclassified', 'quality')">
              <span>Q</span>
              <div ng-if="vm.orderBy.unclassified[0] === 'quality'">
                <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
              </div>
            </div>
          </div>
          <div title="Reference(s) available" class="top">
            <div class="hit" ng-click="vm.sortBy('unclassified', 'references')">
              <span>R</span>
              <div ng-if="vm.orderBy.unclassified[0] === 'references'">
                <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
              </div>
            </div>
          </div>
          <div title="3hetAR" class="top">
            <div class="hit" ng-click="vm.sortBy('unclassified', '3hetAR')">
              <span>3</span>
              <div ng-if="vm.orderBy.unclassified[0] === '3hetAR'">
                <span ng-if="vm.orderBy.unclassified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.unclassified[1]">&#8595;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-row spacer"></div>
      <div class="nav-row allele" title="Allele ID {{ allele_obj.allele.id }}"
           ng-class="{'active': vm.isSelected(allele_obj), 'multiple': vm.isMultipleInAlleleGenes(allele_obj.allele)}"
           ng-repeat="allele_obj in vm.unclassified_alleles track by allele_obj.allele.id"
           ng-click="vm.select(allele_obj)">

        <div title="{{vm.getSampleTypesFull(allele_obj.allele)}}" class="cell sample-type id-sample-type">
          {{vm.getSampleType(allele_obj.allele)}}
        </div>
        <div title="Inheritance" class="cell inheritance id-inheritance">
          {{vm.getInheritance(allele_obj.allele)}}
        </div>
        <div class="cell gene id-gene">
          {{allele_obj.allele.annotation.filtered[0].symbol}}
        </div>
        <div class="cell hgvsc id-hgvsc">
          {{allele_obj.allele.annotation.filtered[0].HGVSc_short}}
        </div>
        <div class="cell consequence id-consequence" ng-class="{'hit': vm.isNonsense(allele_obj.allele)}">
          {{vm.getConsequence(allele_obj.allele)}}
        </div>
        <div class="cell indicators id-indicators">
          <div title="Homozygous" class="hom">
            <div class="hit" ng-if="vm.isHomozygous(allele_obj.allele)">
              <span>O</span>
            </div>
          </div>
          <div title="Quality issues" class="low-qual">
            <div class="hit" ng-if="vm.isLowQual(allele_obj.allele)">
              <span>Q</span>
            </div>
          </div>
          <div title="Reference(s) available" class="important-source">
            <div class="hit" ng-if="vm.isImportantSource(allele_obj.allele)">
              <span>R</span>
            </div>
          </div>
          <div class="three-het-ar">
            <div title="3hetAR"  class="hit" ng-if="vm.is3hetAR(allele_obj.allele)">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="cell classification id-classification">
        </div>
        <div class="cell tab"> </div>

      </div>
    </div>
  </section>

  <h4 class="section-title">Classified variants</h4>

  <section class="id-classified enabled">
    <div class="nav-table">
      <div class="nav-row top" ng-if="vm.alleles.classified.length">
        <div class="cell" title="Sample type" ng-click="vm.sortBy('classified','type')">
          T
          <span ng-if="vm.orderBy.classified[0] === 'type'">
            <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Inheritance" ng-click="vm.sortBy('classified','inheritance')">
          INH
          <span ng-if="vm.orderBy.classified[0] === 'inheritance'">
            <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Gene" ng-click="vm.sortBy('classified','gene')">
          GENE
          <span ng-if="vm.orderBy.classified[0] === 'gene'">
            <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="HGVSc" ng-click="vm.sortBy('classified','hgvsc')">
          HGVSc
          <span ng-if="vm.orderBy.classified[0] === 'hgvsc'">
            <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Consequence" ng-click="vm.sortBy('classified','consequence')">
          CSQ
          <span ng-if="vm.orderBy.classified[0] === 'consequence'">
            <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
            <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
          </span>
        </div>
        <div class="cell indicators">
          <div title="Homozygous" class="top">
            <div class="hit" ng-click="vm.sortBy('classified', 'homozygous')">
              <span>O</span>
              <span ng-if="vm.orderBy.classified[0] === 'homozygous'">
                <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
              </span>
            </div>
          </div>
          <div title="Quality issues" class="top">
            <div class="hit" ng-click="vm.sortBy('classified', 'quality')">
              <span>Q</span>
              <div ng-if="vm.orderBy.classified[0] === 'quality'">
                <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
              </div>
            </div>
          </div>
          <div title="Reference(s) available" class="top">
            <div class="hit" ng-click="vm.sortBy('classified', 'references')">
              <span>R</span>
              <div ng-if="vm.orderBy.classified[0] === 'references'">
                <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
              </div>
            </div>
          </div>
          <div title="3hetAR" class="top">
            <div class="hit" ng-click="vm.sortBy('classified', '3hetAR')">
              <span>3</span>
              <div ng-if="vm.orderBy.classified[0] === '3hetAR'">
                <span ng-if="vm.orderBy.classified[1]">&#8593;</span>
                <span ng-if="!vm.orderBy.classified[1]">&#8595;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-row spacer"></div>
      <div class="nav-row allele" title="Allele ID {{ allele_obj.allele.id }}"
           ng-class="{'active': vm.isSelected(allele_obj) || vm.isToggled(allele_obj), 'toggled': vm.isToggled(allele_obj), 'togglable': vm.isTogglable(allele_obj)}"
           ng-repeat="allele_obj in vm.classified_alleles track by allele_obj.allele.id"
           ng-click="vm.select(allele_obj)">
        <div title="{{vm.getSampleTypesFull(allele_obj.allele)}}" class="cell sample-type id-sample-type">
          {{vm.getSampleType(allele_obj.allele)}}
        </div>
        <div title="Inheritance" class="cell inheritance id-inheritance">
          {{vm.getInheritance(allele_obj.allele)}}
        </div>
        <div class="cell gene id-gene">
          {{allele_obj.allele.annotation.filtered[0].symbol}}
        </div>
        <div class="cell hgvsc id-hgvsc">
          {{allele_obj.allele.annotation.filtered[0].HGVSc_short}}
        </div>
        <div class="cell consequence id-consequence">
          {{vm.getConsequence(allele_obj.allele)}}
        </div>
        <div class="cell indicators id-indicators">
          <div title="Homozygous" class="hom">
            <div class="hit" ng-if="vm.isHomozygous(allele_obj.allele)">
              <span>O</span>
            </div>
          </div>
          <div title="Quality issues"  class="low-qual">
            <div class="hit" ng-if="vm.isLowQual(allele_obj.allele)">
              <span>Q</span>
            </div>
          </div>
          <div class="important-source">
            <div title="Reference(s) available"  class="hit" ng-if="vm.isImportantSource(allele_obj.allele)">
              <span>R</span>
            </div>
          </div>
          <div class="three-het-ar">
            <div title="3hetAR"  class="hit" ng-if="vm.is3hetAR(allele_obj.allele)">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="cell classification id-classification">
          {{vm.getClassification(allele_obj.allele, allele_obj.alleleState)}}
        </div>

        <div class="cell tab"
             title="{{vm.isTogglable(allele_obj) && vm.readOnly ? 'Not allowed (read-only)' : ''}}">
          <div ng-if="vm.isTogglable(allele_obj)" class="added">
            <h5 ng-if="vm.isToggled(allele_obj)">-</h5>
            <h5 ng-if="! vm.isToggled(allele_obj)">+</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
