<h4 class="section-title">{{$ctrl.sectionTitle}}</h4>
  <section class="allele-sidebar-list">
    <div class="nav-table" ng-class="{'expanded': $ctrl.expanded}">
      <div class="nav-row top" ng-if="$ctrl.alleles.length">
        <div ng-if="$ctrl.expanded" class="cell"></div> <!-- Header for selected colorbox when expanded -->
        <div class="cell" title="Sample type" ng-if="$ctrl.isMultipleSampleType" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'type'})">
          T
          <span ng-if="$ctrl.orderBy.key === 'type'">
            <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
            <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Inheritance" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'inheritance'})">
          <span class="clickable">INH</span>
          <span ng-if="$ctrl.orderBy.key === 'inheritance'">
            <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
            <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Gene" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'gene'})">
            <span class="clickable">GENE</span>
          <span ng-if="$ctrl.orderBy.key === 'gene'">
            <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
            <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="HGVSc" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'hgvsc'})">
            <span class="clickable">HGVSc</span>
          <span ng-if="$ctrl.orderBy.key === 'hgvsc'">
            <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
            <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
          </span>
        </div>
        <div class="cell" title="Consequence" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'consequence'})">
            <span class="clickable">CSQ</span>
          <span ng-if="$ctrl.orderBy.key === 'consequence'">
            <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
            <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
          </span>
        </div>
        <div class="cell indicators">
          <div title="Warnings" class="top">
              <div class="hit" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'warning'})">
                <span class="clickable">!</span>
                <span ng-if="$ctrl.orderBy.key === 'warning'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
            </div>
          <div title="Segregation type" class="top">
            <div class="hit" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'segregation'})">
              <span class="clickable">S</span>
              <span ng-if="$ctrl.orderBy.key === 'segregation'">
                <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
              </span>
            </div>
          </div>
          <div title="Homozygous" class="top">
            <div class="hit" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'homozygous'})">
              <span class="clickable">O</span>
              <span ng-if="$ctrl.orderBy.key === 'homozygous'">
                <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
              </span>
            </div>
          </div>
          <div title="Quality issues" class="top">
            <div class="hit" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'quality'})">
              <span class="clickable">Q</span>
              <div ng-if="$ctrl.orderBy.key === 'quality'">
                <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
              </div>
            </div>
          </div>
          <div title="Reference(s) available" class="top">
            <div class="hit" ng-click="$ctrl.orderByChanged({section: $ctrl.section, key: 'references'})">
              <span class="clickable">R</span>
              <div ng-if="$ctrl.orderBy.key === 'references'">
                <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
              </div>
            </div>
          </div>
        </div>
        <div class="cell"></div>
        <div ng-if="!$ctrl.expanded" class="cell"></div> <!-- Header for selected colorbox when not expanded -->
        <div ng-if="$ctrl.expanded" class="cell dp" title="Read depth">DP</div>
        <div ng-if="$ctrl.expanded" class="cell ratio" title="Allele ratio">RATIO</div>
        <div ng-if="$ctrl.expanded" class="cell hi-freq" title="Highest frequency">HI. FREQ</div>
        <div ng-if="$ctrl.expanded" class="cell hi-count" title="Highest allele count">HI. COUNT</div>
        <div ng-if="$ctrl.expanded" class="cell external" title="External databases">EXTERNAL</div>
        <div ng-if="$ctrl.expanded" class="cell evaluation" title="Evaluation">EVALUATION</div>
        <div ng-if="$ctrl.expanded && $ctrl.allowQuickClassification" class="cell quick-classification" title="Classification">QUICK CLASSIFICATION</div>
        <div ng-if="$ctrl.expanded && !$ctrl.allowQuickClassification" class="cell"></div>
      </div>
      <div class="nav-row spacer" title="Allele ID {{ allele.id }}"></div>
      <div class="nav-row allele" ng-repeat="allele in $ctrl.alleles track by allele.id"
            ng-class="{'active': $ctrl.selectedAllele.id == allele.id || $ctrl.isToggled[allele.id], 'toggled': $ctrl.isToggled[allele.id], 'togglable': $ctrl.isTogglable[allele.id], 'multiple': $ctrl.isMultipleInGene[allele.id], 'technical': $ctrl.isTechnical(allele.id)}">
        <div ng-if="$ctrl.expanded" class="cell tab"
          title="{{$ctrl.isTogglable[allele.id] && $ctrl.readOnly ? 'Not allowed (read-only)' : ''}}"></div>
        <div title="{{$ctrl.getSampleTypesFull(allele)}}" ng-if="$ctrl.isMultipleSampleType" class="cell sample-type id-sample-type">
          {{$ctrl.getSampleType(allele)}}
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" class="cell inheritance id-inheritance" title="{{allele.formatted.inheritance}}">
            {{allele.formatted.inheritance}}
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" class="cell gene id-gene" title="{{$ctrl.getGene(allele)}}">
            {{$ctrl.getGene(allele)}}
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" class="cell hgvsc id-hgvsc" title="{{$ctrl.getHGVSc(allele)}}">
            {{$ctrl.getHGVSc(allele)}}
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" class="cell consequence id-consequence" ng-class="{'hit': $ctrl.isNonsense[allele.id] && !$ctrl.isTechnical(allele.id)}" title="{{$ctrl.consequence[allele.id]}}">
            {{$ctrl.consequence[allele.id]}}
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" class="cell indicators id-indicators">
          <div title="{{$ctrl.getWarningsLabel(allele)}}" class="warning">
            <div class="hit" ng-if="$ctrl.hasWarning(allele)">
                <span>!</span>
            </div>
          </div>
            <div title="{{$ctrl.getSegregationLabel(allele)}}" class="segregation">
              <div class="hit" ng-if="$ctrl.getSegregationTag(allele)">
                  <span>{{$ctrl.getSegregationTag(allele)}}</span>
              </div>
            </div>
            <div title="Homozygous" class="hom">
              <div class="hit" ng-if="$ctrl.isHomozygous(allele)">
                  <span>O</span>
              </div>
            </div>
            <div title="{{$ctrl.getQualityTextPopover(allele.id)}}" ng-class="$ctrl.getQualityClass(allele.id)">
              <div class="hit" ng-if="$ctrl.hasQualityInformation(allele)">
                <span>{{$ctrl.getQualityTag(allele)}}</span>
              </div>
            </div>
            <div class="important-source">
              <div title="Reference(s) available"  class="hit" ng-if="$ctrl.hasReferences(allele)">
                  <span>R</span>
              </div>
            </div>
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" class="cell classification id-classification">
          {{$ctrl.getClassificationText(allele.id)}}
        </div>
        <div ng-click="$ctrl.rowClicked(allele.id)" ng-if="!$ctrl.expanded" class="cell tab"
              title="{{$ctrl.isTogglable[allele.id] && $ctrl.readOnly ? 'Not allowed (read-only)' : ''}}">
          <div ng-if="$ctrl.isTogglable[allele.id]" class="added">
            <h5 ng-if="$ctrl.isToggled[allele.id]">-</h5>
            <h5 ng-if="!$ctrl.isToggled[allele.id]">+</h5>
          </div>
        </div>
        <div ng-if="$ctrl.expanded" class="cell dp"
          popover-trigger="outsideClick"
          uib-popover-template="'alleleSidebarQualityPopover.ngtmpl.html'"
          popover-append-to-body="true"
          popover-title="Quality: {{allele.formatted.display}}"
          popover-class="popover-title-no-uppercase"
          popover-placement="bottom"><span class="clickable">{{$ctrl.depth[allele.id]  || '-'}}</span>
        </div>
        <div ng-if="$ctrl.expanded" class="cell ratio"
          popover-trigger="outsideClick"
          uib-popover-template="'alleleSidebarQualityPopover.ngtmpl.html'"
          popover-append-to-body="true"
          popover-title="Quality: {{allele.formatted.display}}"
          popover-class="popover-title-no-uppercase"
          popover-placement="bottom"><span class="clickable">{{$ctrl.alleleRatio[allele.id]  || '-'}}</span>
        </div>
        <div ng-if="$ctrl.expanded" class="cell hi-freq"
          popover-trigger="outsideClick"
          uib-popover-template="'alleleSidebarFrequencyPopover.ngtmpl.html'"
          popover-append-to-body="true"
          popover-title="Frequency: {{allele.formatted.display}}"
          popover-class="popover-title-no-uppercase"
          popover-placement="bottom"><span class="clickable">{{$ctrl.hiFreq[allele.id] || '-'}}</span>
        </div>
        <div ng-if="$ctrl.expanded" class="cell hi-count"
          popover-trigger="outsideClick"
          uib-popover-template="'alleleSidebarFrequencyPopover.ngtmpl.html'"
          popover-append-to-body="true"
          popover-title="Frequency: {{allele.formatted.display}}"
          popover-class="popover-title-no-uppercase"
          popover-placement="bottom"><span class="clickable">{{$ctrl.hiCount[allele.id] || '-'}}</span>
        </div>
        <div ng-if="$ctrl.expanded" class="cell external"
          popover-trigger="outsideClick"
          uib-popover-template="'alleleSidebarExternalPopover.ngtmpl.html'"
          popover-append-to-body="true"
          popover-title="External: {{allele.formatted.display}}"
          popover-class="popover-title-no-uppercase"
          popover-placement="bottom"><span class="clickable">
          <span ng-repeat="s in $ctrl.externalSummary[allele.id]">{{s}} </span></span>
        </div>
        <div ng-if="$ctrl.expanded" class="cell evaluation">
            <wysiwyg-editor class="control-comment"
            show-controls="false"
            ng-disabled="$ctrl.readOnly"
            ng-change="$ctrl.evaluationCommentChanged({alleleId: allele.id, name: 'classification', comment: $ctrl.alleleassessments[allele.id].evaluation.classification.comment})"
            ng-model="$ctrl.alleleassessments[allele.id].evaluation.classification.comment"></wysiwyg-editor>
        </div>
        <div ng-if="$ctrl.expanded && $ctrl.allowQuickClassification" class="cell quick-classification">
          <button class="purple" ng-click="$ctrl.verificationStatusChanged({alleleId: allele.id, verificationStatus: 'technical'})" ng-disabled="$ctrl.readOnly">Technical</button>
          <button class="purple" ng-click="$ctrl.quickClassificationClicked({classification: 'U', alleleId: allele.id})" ng-disabled="$ctrl.readOnly">Class U</button>
          <button class="purple" ng-click="$ctrl.quickClassificationClicked({classification: '2', alleleId: allele.id})" ng-disabled="$ctrl.readOnly">Class 2</button>
          <button class="purple" ng-click="$ctrl.quickClassificationClicked({code: {code: 'BS1', source: 'user'}, classification: '2', alleleId: allele.id})" ng-disabled="$ctrl.readOnly">Class 2 (BS1)</button>
          <button class="purple" ng-click="$ctrl.quickClassificationClicked({code: {code: 'BS2', source: 'user'}, classification: '2', alleleId: allele.id})" ng-disabled="$ctrl.readOnly">Class 2 (BS2)</button>
        </div>
        <div ng-if="$ctrl.expanded && !$ctrl.allowQuickClassification" class="cell quick-classification"></div>
    </div>
  </section>
