<div class="app">
  <sidebar items="vm.test_items"></sidebar>
  <!-- <div class="search-area"> -->
  <!--   <input type="text" placeholder="SEARCH" ng-model="vm.state.alleles[al.id].frequency['comment']"></input> -->
  <!-- <div class="search-results"> -->
  <!--   <p>Bacon ipsum dolor amet andouille alcatra beef ribs chuck.</p> -->
  <!--   <p>Picanha short loin tail, turducken capicola sausage meatball shank jerky kielbasa.</p> -->
  <!-- </div> -->
  <!-- </div> -->
  <div class="content" ui-view="content"></div>
</div>
