<div class="app">
  <sidebar class="sidebar" items="vm.test_items"></sidebar>
  <nav class="skinny">
    <div class="breadcrumbs">
      <div class="crumb">
        <p>logged in as</p> <h3>DAVID JACOB HONNEFFER</h3>
      </div>
      <div class="crumb arrow">
        <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M6.5,13l-6.5,-13l13,0l-6.5,13Z" style="fill:#000;fill-opacity:0.35;"/></svg>
      </div>
      <div class="crumb">
        <p>go to</p> <h3>Analysis List</h3>
      </div>
      <div class="crumb arrow">
        <svg width="13px" height="13px" viewBox="0 0 13 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path d="M6.5,13l-6.5,-13l13,0l-6.5,13Z" style="fill:#000;fill-opacity:0.35;"/></svg>
      </div>
      <div class="active crumb">
        <p>this is</p> <h3>NA12878_bindevev_test-Bindevev-v02</h3>
      </div>
    </div>
    <search></search>
  </nav>
  <search-results></search-results>
  <div class="content" ui-view="content"></div>
</div>

    <!-- <div class="nav-row" ng-if="vm.getBackLink().title"> -->
      <!-- <div class="big title cell"><a ng-href="vm.getBackLink().url"><p>back to</p> <h2>{{vm.getBackLink().title}}</h2> </a></div> -->
    <!-- </div> -->
        <!-- <p ng-if="vm.showHeader()">this is</p> -->
        <!-- <h3 ng-class="{'lowercase': vm.showHeader()}">{{vm.getTitle()}}</h3> -->
