<nav class="top">
  <div class="half left">
    <div ng-click="vm.goToLogin()" ng-if="! vm.isLogin()">
      <h3 class="full-title upper clickable white"><i>{{ vm.abbreviateUser() }}</i></h3>
    </div>
    <div ng-if="vm.isLogin()">
      <h3 class="full-title">Welcome - please login</h3>
    </div>
    <div ng-click="vm.goToItem(item)" ng-class="{'active': vm.isLastItem(item), 'clickable white': vm.hasUrl(item)}" ng-repeat="item in vm.getItems()">
      <h3 class="full-title"><b>{{item.title}}</b></h3>
    </div>
  </div>
  <div class="half wide" ng-if="vm.hasAllele()">
    <h3 class="full-title" ng-click="1" ng-repeat="t in vm.getAllele().annotation.filtered track by t.Transcript">
      <div class="allele_popup clickable white" isolate-click>
        <transcript-wrapper  transcript="t"
                             popover-trigger="outsideClick"
                             uib-popover-template="'ngtmpl/phenotypes_popover.ngtmpl.html'"
                             popover-title="{{t.SYMBOL}}"
                             popover-placement="right-top">

         {{t.SYMBOL}}
          <!-- <i>(<gpv source="vm.getGenepanelValues(t.SYMBOL)" display="inheritance" prefix="" mode="_"></gpv><!-- -->
          <!--     --1><gpv source="vm.getGenepanelValues(t.SYMBOL)" display="freq_cutoff" prefix="|"></gpv><!-- -->
          <!--   --1><gpv source="vm.getGenepanelValues(t.SYMBOL)" display="last_exon" prefix="|"></gpv>) -->
          <!-- </i> -->
      </transcript-wrapper>
      </div>
    </h3>
    <h3 class="full-title" ng-repeat="t in vm.getAllele().annotation.filtered track by t.Transcript"> <transcript-wrapper transcript="t"><i>{{t.HGVSc | HGVS_firsthalf}}:</i><b>{{t.HGVSc | HGVSc_short}}</b> </transcript-wrapper> </h3>
    <h3 class="full-title" ng-repeat="t in vm.getAllele().annotation.filtered track by t.Transcript"> <transcript-wrapper transcript="t"><i>{{t.HGVSp | HGVS_firsthalf}}:</i><b>{{t.HGVSp | HGVSp_short}}</b> </transcript-wrapper> </h3>
  </div>
</nav>
