<div class="main">
    <nav class="secondary">
        <search class="search-box"></search>
        <section>
            <button ng-click="vm.showAnnotateVCFFile()">Import
              <!--Section: With status icons-->
              <!--<span ng-if="vm.annotationJobStatus.running+vm.annotationJobStatus.failed">-->
              <span>
              <svg id="i-status-ok" class="button-status-green" viewBox="0 0 32 32" width="32" height="32" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                <circle cx="50%" cy="50%" r="50%"></circle>
              </svg>
              {{vm.annotationJobStatus.running}}

              <svg id="i-status-failed" class="button-status-red" viewBox="0 0 32 32" width="32" height="32" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
                <circle cx="50%" cy="50%" r="50%"></circle>
              </svg>
              {{vm.annotationJobStatus.failed}}
              </span>
              <!--End section-->

              <!--Section: No status icons-->
              <!--{{vm.annotationJobStatus.running}}/{{vm.annotationJobStatus.failed}}-->
              <!--End section-->
            </button>
        </section>
    </nav>

    <div class="overviewcontainer">
        <div class="sidenavbar" ng-if="vm.hasMultipleViews()">
            <div class="item-row">
                <div class="item" ng-repeat="view in vm.views" ng-if="vm.shouldShowView(view)" ng-class="{'active': vm.isActive(view)}" ng-click="vm.setView(view)">{{vm.view_names[view]}}</div>
            </div>
        </div>

        <div class="container with-sidenavbar">
            <search-results></search-results>
            <div ng-switch="vm.configService.getOverview()">
                <analysis-selection ng-switch-when="analyses"></analysis-selection>
                <analysis-selection by-findings="true" ng-switch-when="analyses-by-findings"></analysis-selection>
                <allele-selection ng-switch-when="variants"></allele-selection>
            </div>
         </div>
     </div>
</div>
