<div class="main">
    <nav class="secondary">
        <search class="search-box"></search>
    </nav>

    <div class="overviewcontainer">
        <div class="sidenavbar">
            <div class="item-row">
                <div class="item" ng-class="{'active': vm.isActive('analyses')}" ng-click="vm.setView('analyses')">Analyses</div>
                <div class="item" ng-class="{'active': vm.isActive('variants')}" ng-click="vm.setView('variants')">Variants</div>
            </div>
        </div>

        <div class="container">
            <search-results></search-results>
            <div ng-switch="vm.selectedView">
                <analysis-selection ng-switch-when="analyses"></analysis-selection>
                <allele-selection ng-switch-when="variants"></allele-selection>
        </div>
    </div>
</div>
