<div class="main">
    <nav class="secondary">
        <button class="id-logout-btn logout-btn" ng-click="vm.logout()">LOGOUT</button>
    </nav>

    <div class="dashboard">
            <sectionbox color="white" class="profile id-user-profile" collapsible="false">
                <maintitle>
                  YOUR PROFILE
                </maintitle>
                <subtitle>
                </subtitle>
                <contentwrapper>
                    <p>Username: <span class="full-title"> {{vm.user.getCurrentUser().username}}</span></p>
                    <p>Full name: <span class="full-title"> {{vm.user.getCurrentUser().full_name}}</span></p>
                    <p>Password expiry: <span class="full-title">{{vm.user.getCurrentUser().password_expiry | date:'yyyy-MM-dd HH:mm'}}</span></p>
                </contentwrapper>
            </sectionbox>

            <sectionbox color="white" class="profile id-user-profile" collapsible="false">
            <maintitle>
              YOUR USER GROUP
            </maintitle>
            <subtitle></subtitle>
            <contentwrapper>
                <p>Group: <span class="full-title">{{vm.user.getCurrentUser().group.name}}</span></p>
                  <p>Other users in group:</p>
                  <div class="sectionbox-content general-list">
                      <span ng-repeat="user in vm.usersInGroup" class="list-item">
                          <span class="full-title">{{user.full_name}}</span>
                      </span>
                  </div>
            </contentwrapper>
            </sectionbox>
        
            <sectionbox color="white" class="profile id-user-profile" collapsible="false">
            <maintitle>
                GENEPANELS AND INFO
            </maintitle>
            <subtitle></subtitle>
            <contentwrapper>
                    <p>Genepanels:</p>
                    <div class="sectionbox-content general-list">
                        <span class="list-item" ng-repeat="genepanel in vm.user.getCurrentUser().group.genepanels">
                            <span class="full-title">{{genepanel.name}} {{genepanel.version}}</span>
                        </span>
                    </div>
                    <p>Number of analysis worked on: <span class="full-title">{{vm.user_stats.analyses_cnt}}</span></p>
                    <p>Number of variants worked on: <span class="full-title">{{vm.user_stats.alleles_cnt}}</span></p>
            </contentwrapper>
            </sectionbox>
    </div>
    
    <div class="dashboard-activity">
          <sectionbox color="green" class="activities id-activity-stream" collapsible="false">
                <maintitle>
                    YOUR ACTIVITY
                </maintitle>
                <subtitle>
                </subtitle>
                <contentwrapper>
                    <div ng-repeat="item in vm.activity_stream">
                        <article class="sectionbox-content analysis-list">
                            <a class="id-analysis list-item clickable" href="{{vm.getActivityUrl(item)}}">
                                <span class="analysis-date">{{item.date_last_update | date:'yyyy-MM-dd HH:mm'}}</span>
                                <span class="full-title"><b>{{vm.getActivityUser(item)}}</b> {{vm.getActivityStartAction(item)}} <b>{{vm.getActivityName(item)}}</b><span ng-if="!vm.isUserAction(item)"> (which you've also worked on)</span>{{vm.getActivityEndAction(item)}}.</span>
                            </a>
                        </article>
                    </div>
                </contentwrapper>
            </sectionbox>
    </div>
</div>
