<div class="visualization">
    <sectionbox>
        <maintitle>Preset selection</maintitle>
        <contentwrapper>
            <h4 class="section-title">Presets</h4>
            <div class="bttn-set">
                <label
                    tabindex="0"
                    class="bttn"
                    uib-btn-checkbox="presetId"
                    ng-repeat="(presetId, _) in $ctrl.presets"
                    ng-model="$ctrl.presetModel[presetId]"
                    ng-change="$ctrl.togglePreset(presetId)"
                    >{{ presetId }}</label
                >
            </div>
        </contentwrapper>
    </sectionbox>
    <sectionbox collapsed="true">
        <maintitle>Track selection</maintitle>
        <contentwrapper>
            <div ng-repeat="(presetId, tracksByPreset) in $ctrl.presets">
                <h4 class="section-title">{{ presetId }}</h4>
                <div class="bttn-set">
                    <label
                        tabindex="0"
                        class="bttn"
                        ng-model="$ctrl.modelTracks[trackId]"
                        ng-model-watch="$ctrl.tracks[trackId].selected"
                        ng-change="$ctrl.shownTracksChanged({tracksToUpdate: [{trackId: trackId, show: !$ctrl.tracks[trackId].selected}]})"
                        uib-btn-checkbox="track.data"
                        ng-repeat="trackId in tracksByPreset"
                        >{{ $ctrl.tracks[trackId].igv.name }}</label
                    >
                </div>
            </div>
        </contentwrapper>
    </sectionbox>

    <igv locus="$ctrl.igvLocus" tracks="$ctrl.igvTracks" reference="$ctrl.igvReference"> </igv>
</div>
