<div class="visualization">
    <sectionbox>
        <maintitle>Preset selection</maintitle>
        <contentwrapper>
            <h4 class="section-title">Presets</h4>
            <div class="bttn-set">
                <label
                    tabindex="0"
                    class="bttn"
                    uib-btn-checkbox="presetId"
                    ng-repeat="(presetId, _) in $ctrl.presets"
                    ng-model="$ctrl.presetModel[presetId]"
                    ng-change="$ctrl.togglePreset(presetId)"
                    >{{ presetId }}</label
                >
            </div>
        </contentwrapper>
    </sectionbox>
    <sectionbox collapsed="true">
        <maintitle>Track selection</maintitle>
        <contentwrapper>
            <div ng-repeat="(presetId, tracksByPreset) in $ctrl.presets">
                <h4 class="section-title">{{ presetId }}</h4>
                <div class="bttn-set">
                    <label
                        tabindex="0"
                        class="bttn"
                        ng-model="$ctrl.modelTracks[track.categoryId][track.index]"
                        ng-model-watch="$ctrl.tracks[track.categoryId][track.index].selected"
                        ng-change="$ctrl.shownTracksChanged({tracksToUpdate: [{type: track.categoryId, id: track.data.id, show: !track.data.selected}]})"
                        uib-btn-checkbox="track.data"
                        ng-repeat="track in tracksByPreset"
                        >{{ track.data.config.name }}</label
                    >
                </div>
            </div>
        </contentwrapper>
    </sectionbox>

    <igv
        ng-if="$ctrl.igvTracks.length"
        locus="$ctrl.igvLocus"
        tracks="$ctrl.igvTracks"
        reference="$ctrl.igvReference"
    >
    </igv>
</div>
