<div class='acmg' ng-class="vm.getACMGclass()">
  <div class="upper-wrapper">
    <section class="acmg-upper">
      <div class="left-item">
        <h4 class="id-adjust-down adjust-button" ng-if="vm.adjustable && vm.editable" class="clickable" ng-click="vm.downgradeCode()">-</h4>
        <div class="acmg-title-wrapper">
          <h4 class="acmg-title clickable" uib-popover-template="vm.popover.templateUrl"
            popover-append-to-body=true
            popover-title="{{vm.getCodeForDisplay().code | noUnderscores}}"
            popover-trigger="outsideClick"
            popover-placement="auto">
            {{vm.getCodeForDisplay().code | dropREQ | noUnderscores}}
          </h4>
        </div>
        <h4 class="id-adjust-up adjust-button" ng-if="vm.adjustable && vm.editable" class="clickable" ng-click="vm.upgradeCode()">+</h4>
      </div>
      <h4 class="right-item" ng-if="vm.isMoreThanOne()">{{vm.code.length}}x</h4>
      <button class="right-item"
              ng-click="vm.toggle()"
              ng-if="vm.toggleText && !vm.readOnly"
      >{{vm.toggleText}}
      </button>
    </section>
    <aside class="acmg-req noclick"
           ng-if="! vm.isInACMGsection()"
           ng-class="vm.getACMGclass(r)"
           ng-repeat="r in vm.getRequiredFor()"
           ng-disabled="vm.readOnly"
    >
      <section class="acmg-upper">
        <h4 class="acmg-title">{{r}}</h4>
      </section>
    </aside>
    <aside class="acmg-req"
           ng-if="vm.isInACMGsection()"
           ng-class="vm.getACMGclass(r)"
           ng-repeat="r in vm.getRequiredFor()"
           ng-click="vm.clickAddRequiredForCode(r)"
           ng-disabled="vm.readOnly"
    >
      <section class="acmg-upper">
        <h4 class="acmg-title clickable white">+ {{r}}</h4>
      </section>
    </aside>
  </div>
  <section class="acmg-lower" ng-if="vm.commentModel != undefined">
      <wysiwyg-editor class="right-item commentbox"
                       ng-disabled="!vm.isEditable() || vm.readOnly"
                       placeholder="{{vm.getPlaceholder()}}"
                       ng-model="vm.commentModel"></wysiwyg-editor>
  </section>
</div>
