<article class="id-acmg-selection-popover line-wrapper question centered">
  <div class="left-basic"> <h5 class="slim title"> <b>Show codes: </b> </h5></div>
  <div class="right-basic">
    <div class="bttn-set">
      <label tabindex=0 class="bttn id-acmg-category" ng-model="vm.pathogenicPopoverToggle.model" uib-btn-radio="item" ng-repeat="item in vm.pathogenicPopoverToggle.buttons">{{item}}</label>
    </div>
  </div>
</article>
<section class="acmg-selection">
  <aside ng-if="vm.pathogenicPopoverToggle.model === 'Pathogenic'">
    <div class="acmg clickable" ng-repeat="r in vm.acmgCandidates.pathogenic" ng-class="::vm.getACMGpopoverClass(r)" ng-click="vm.addACMGCode(r)">
      <section class="acmg-upper">
        <h4 class="acmg-title">{{::r}}</h4> <p class="right-item">{{::vm.getExplanationForCode(r).short_criteria}}</p>
      </section>
    </div>
  </aside>

  <aside ng-if="vm.pathogenicPopoverToggle.model === 'Benign'">
    <div class="acmg clickable" ng-repeat="r in vm.acmgCandidates.benign" ng-class="::vm.getACMGpopoverClass(r)" ng-click="vm.addACMGCode(r)">
      <section class="acmg-upper">
        <h4 class="acmg-title">{{::r}}</h4> <p class="right-item">{{::vm.getExplanationForCode(r).short_criteria}}</p>
      </section>
    </div>
  </aside>
</section>
