<checkable-button buttonclass="blue" check-model="vm.showPathogenic">SHOW PATHOGENIC<checked>SHOW BENIGN</checked></checkable-button>
<section class="acmg-selection">
  <aside ng-if="vm.showPathogenic">
    <div class="acmg clickable" ng-repeat="r in vm.acmgCandidates.pathogenic" ng-class="::vm.getACMGpopoverClass(r)" ng-click="vm.addACMGCode(r)">
      <section class="acmg-upper">
        <h4 class="acmg-title">{{::r}}</h4> <p class="right-item">{{::vm.getExplanationForCode(r).short_criteria}}</p>
      </section>
    </div>
  </aside>

  <aside ng-if="!vm.showPathogenic">
    <div class="acmg clickable" ng-repeat="r in vm.acmgCandidates.benign" ng-class="::vm.getACMGpopoverClass(r)" ng-click="vm.addACMGCode(r)">
      <section class="acmg-upper">
        <h4 class="acmg-title">{{::r}}</h4> <p class="right-item">{{::vm.getExplanationForCode(r).short_criteria}}</p>
      </section>
    </div>
  </aside>
</section>
