<div class='acmg-popover'>
  <p>{{vm.getShortCriteria()}}</p>
  <div ng-show="vm.getRequiredFor().length">
    <h3>Required for:</h3>
    <div class="suggested disabled required-for">
      <div class="acmg" ng-class="vm.getACMGclass(r)" ng-repeat="r in vm.getRequiredFor()" ng-click="vm.clickAddRequiredForCode(r)"><h4>{{r}}</h4></div>
    </div>
  </div>
  <h3 ng-if="vm.getCriteria()">Details:</h3>
  <p>{{vm.getCriteria()}}</p>
  <div ng-show="vm.getNotes()">
    <h3>Notes:</h3>
    <p>{{vm.getNotes()}}</p>
  </div>
  <h3>Match:</h3>
  <div>
    <p ng-repeat="match in vm.matches">{{match.source}} {{match.op}} {{match.match}}</p>
  </div>
</div>
