<aside class="row down">
    <h3 class="full-title" ng-repeat="anno in vm.allele.annotation.filtered track by anno.transcript" ng-if="vm.genepanel">
      <div class="allele_popup clickable white" isolate-click>
        <transcript-wrapper  transcript="anno"
          popover-trigger="outsideClick"
          uib-popover-template="'ngtmpl/phenotypes_popover.ngtmpl.html'"
          popover-title="{{anno.symbol}}"
          popover-placement="bottom">
          {{anno.symbol}} ({{anno.exon}})
        </transcript-wrapper>
      </div>
    </h3>
    <h3 class="full-title" ng-repeat="anno in vm.allele.annotation.filtered track by anno.transcript" ng-if="!vm.genepanel">
      <transcript-wrapper  transcript="anno">
        {{anno.symbol}} ({{anno.exon}})
      </transcript-wrapper>
    </h3>

    <h3 class="full-title" ng-repeat="anno in vm.allele.annotation.filtered track by anno.transcript">
      <div class="allele_popup clickable white" isolate-click>
        <transcript-wrapper  transcript="anno"
          popover-trigger="outsideClick"
          uib-popover-template="'ngtmpl/cdnaPopover.ngtmpl.html'"
          popover-title="HGVS c.DNA"
          popover-placement="bottom">
            <i>{{anno.transcript}}:</i><b>{{anno.HGVSc_short}}</b> {{vm.getGenotypeForSample()}}
        </transcript-wrapper>
      </div>
    </h3>

    <h3 class="full-title" ng-repeat="anno in vm.allele.annotation.filtered track by anno.transcript">
      <div class="allele_popup clickable white" isolate-click>
        <transcript-wrapper  transcript="anno"
          popover-trigger="outsideClick"
          uib-popover-template="'ngtmpl/proteinPopover.ngtmpl.html'"
          popover-title="HGVS protein"
          popover-placement="bottom">
            <i ng-if="anno.HGVSp">{{anno.HGVSp | proteinSequence}}:</i><b>{{anno.HGVSp_short}}</b> ({{anno.codons}})
        </transcript-wrapper>
      </div>
    </h3>

    <h3 class="full-title">{{vm.allele.formatGenomicPosition()}}</h3>
</aside>
