<sectionbox color="purple" collapsible="false">
  <maintitle>
    Analysis info
  </maintitle>
  <contentwrapper class="analysis-info">
    <h4 ng-if="vm.analysis.warnings.length" class="section-header">Warnings</h4>
    <div ng-if="vm.analysis.warnings.length" class="warning">
        <markdown-it markdown="vm.analysis.warnings"></markdown-it>
    </div>
    <h4 class="section-header">Analysis info</h4>
    <div class="report">
        <markdown-it markdown="vm.analysis.report"></markdown-it>
    </div>


  </contentwrapper>
</sectionbox>
