<div class="analysis-row"  ng-click="vm.clickAnalysis(analysis)" ng-repeat="analysis in vm.analyses track by analysis.name">
  <div>
    <h3>{{::analysis.name}}</h3>
  </div>
  <div>
    <p class="analysis-date">{{analysis.deposit_date | date:"dd-MM-yyyy"}}</p>
  </div>
  <div class="analysis-users">
    <div class="analysis-users-box" ng-repeat="interpretation in analysis.interpretations track by interpretation.id">
      <div ng-if="interpretation.user"><h3>{{$index+1}}. {{::interpretation.user.first_name}}  {{::interpretation.user.last_name}} ({{::interpretation.date_last_update | date:"dd-MM-yyyy HH:mm"}})</h3></div>
    </div>
  </div>
</div>
