<sectionbox color="purple" collapsible="false">
  <maintitle>
    Analysis info
  </maintitle>
  <contentwrapper class="analysis-info">
    <h4 ng-if="vm.analysis.warnings.length" class="section-header">Warnings</h4>
    <div ng-if="vm.analysis.warnings.length" class="warning">
      <markdown-it markdown="vm.analysis.warnings"></markdown-it>
    </div>


    <h4 ng-if="vm.alleles.unclassified.length || vm.alleles.classified.length" class="section-header">Variant verification</h4>
    <div class="table">
      <div class="info-table-header cell">
        GENE
      </div>
      <div class="info-table-header cell">
        TRANSCRIPT
      </div>
      <div class="info-table-header cell">
        HGVSc
      </div>
      <div class="info-table-header cell">
        VERIFICATION STATUS
      </div>
      <div ng-repeat="alleleObj in vm.getAlleles()" class="info-row tabular-row">
        <div class="info-gene cell">
          {{alleleObj.allele.annotation.filtered[0].symbol}}
        </div>
        <div class="info-transcript cell">
          {{alleleObj.allele.annotation.filtered[0].transcript}}
        </div>
        <div class="info-hgvsc cell">
          {{alleleObj.allele.annotation.filtered[0].HGVSc_short || alleleObj.allele.getHGVSgShort()}}
        </div>
        <div class="cell">
          <div class="bttn-set">
              <label tabindex=0
                     ng-disabled="vm.readOnly"
                     class="bttn"
                     ng-model="alleleObj.alleleState.verification"
                     ng-change="vm.verificationStatusChanged({'allele': alleleObj.allele})"
                     uib-btn-radio="s"
                     uncheckable="true"
                     ng-repeat="s in ['verified', 'technical']"
              >{{s | uppercase }}</label>
          </div>
        </div>
        <!--<div class="cell bttn" ng-click="vm.markVerified(allele)">VERIFIED</div>-->
        <!--<div class="cell bttn" ng-click="vm.markTechnical(allele)">TECHNICAL</div>-->
      </div>
    </div>

    <h4 class="section-header">Analysis info</h4>
    <div class="report">
      <markdown-it markdown="vm.analysis.report"></markdown-it>
    </div>


  </contentwrapper>
</sectionbox>
