<div class="frequency-item" ng-repeat="freq in ::vm.config.frequencies[vm.group]" ng-if="vm.allele.annotation.annotations.frequencies[vm.group][freq]">
<table>
    <td><b>{{::freq}}:</b> </td>
    <td> {{::vm.allele.annotation.annotations.frequencies[vm.group][freq] | number:vm.precision}}</td>
</table>

<div class="frequency-item" ng-if="vm.group === 'inDB'">
    <table>
        <td><b>noMutInd:</b> </td>
        <td> {{vm.allele.annotation.annotations.frequencies['inDB']['noMutInd']}}</td>
    </table>
    <div ng-if="vm.allele.annotation.annotations.frequencies['inDB']['noMutInd'] < 10">
        <table>
            <td><b>Indications:</b><br>
                <div ng-repeat="(k, v) in vm.allele.annotation.annotations.frequencies['inDB']['indications']">{{k}}: {{v}}</div>
            </td>
        </table>
    </div>
</div>
