<div class="gene-information">
    {{ $ctrl.genepanelValuesForGene }}
    <h4 class="section-title id_inheritance">
        HGNC ID:
    </h4>
    <copy-text text="{{ $ctrl.hgncId }}"></copy-text>
    <h4 class="section-title">
        Links:
    </h4>
    <a-clip
        tippy-title="See gene info on HGNC"
        href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{ $ctrl.hgncId }}"
        >HGNC</a-clip
    >, <a-clip tippy-title="See gene info on OMIM" href="{{ $ctrl.getOmimLink() }}">OMIM</a-clip>,
    <a-clip tippy-title="See gene info on HGMD Pro" href="{{ $ctrl.getHgmdLink() }}">HGMD</a-clip>
    <h4 class="section-title id_inheritance">
        Inheritance:
    </h4>
    {{ $ctrl.genepanelValues.inheritance }}
    <h4 class="section-title">Phenotypes</h4>
    <ul class="popover-list indented">
        <li ng-repeat="ph in $ctrl.genepanelValues.phenotypes">
            {{ ph.description }} ({{ ph.inheritance }})
        </li>
    </ul>
    <h4 class="section-title">Frequency cutoff:</h4>
    <ul class="popover-list indented">
        <li>
            External:
            {{ $ctrl.getFrequencyExternal() }}
            <span style="color: red;" ng-if="$ctrl.genepanelValues.freqCutoffs.overridden"
                >(overridden)</span
            >
        </li>
        <li>
            Internal:
            {{ $ctrl.getFrequencyInternal() }}
            <span style="color: red;" ng-if="$ctrl.genepanelValues.freqCutoffs.overridden"
                >(overridden)</span
            >
        </li>
    </ul>
    <h4 class="section-title">Gene information:</h4>
    <wysiwyg-editor
        class="control-comment"
        ng-disabled="$ctrl.geneCommentEditable"
        ng-model="$ctrl.test"
    ></wysiwyg-editor>
    <div>
        <button
            class="blue"
            ng-if="!$ctrl.geneCommentEditable"
            ng-click="$ctrl.toggleGeneCommentEdit()"
        >
            EDIT
        </button>
        <confirm-button
            class="id-update-comment"
            ng-if="$ctrl.geneCommentEditable"
            confirm-action="$ctrl.resetGeneComment"
            ng-disabled="$ctrl.readOnly"
            color="blue"
            confirm-color="red"
        >
            Undo
        </confirm-button>
        <button
            class="blue"
            ng-if="$ctrl.geneCommentEditable"
            ng-click="$ctrl.updateGeneCommentEdit()"
        >
            Update comment
        </button>
    </div>
</div>
