
<nav class="secondary" ng-if="vm.getInterpretationType() === 'analysis'">
  <div class="workflow-options">
    <div class="bttn-set">
        <label tabindex=0
               class="bttn"
               id="section-{{c.title | lowercase}}"
               ng-model="vm.selectedComponent"
               uib-btn-radio="c"
               ng-repeat="c in vm.components"
        >{{c.title}}</label>
    </div>
    <div class="review-comment">
      <input type="text"
             class="id-review-comment"
             placeholder="REVIEW COMMENT"
             ng-model="vm.getSelectedInterpretation().state.review_comment"
             ng-disabled="vm.readOnly">
    </div>
  </div>
  <section>
    <button class="id-add-excluded" ng-click="vm.modalAddExcludedAlleles()">
      <svg id="i-plus" class="buttonmark" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
        <path d="M16 2 L16 30 M2 16 L30 16" />
      </svg>
      <span> {{vm.getSelectedInterpretation().state.manuallyAddedAlleles.length || 0}}/{{vm.getExcludedAlleleCount()}}</span><span class="add-excluded-button">Excluded</span></button>
    <button ng-click="vm.copyAllAlamut()">Copy all to alamut</button>

    <div class="dropdown white" ng-if="vm.showHistory()">
      <select
          class="id-interpretationrounds-dropdown"
          ng-options="i as vm.formatHistoryOption(i) for i in vm.getInterpretationHistory()"
          ng-change="vm.loadAlleles()"
          ng-model="vm.interpretationService.selected_interpretation">
      </select>
    </div>
    <workflow-buttons readOnly="vm.readOnly" start-when-reopen="false"></workflow-buttons>
  </section>
</nav>

<nav class="bottom" ng-class="{'has-secondary': vm.getInterpretationType() === 'analysis'}" ng-if="vm.allele">
  <allelebar allele="vm.allele" genepanel="vm.getGenepanel()"></allelebar>
  <section>
    <div class="workflow-options" ng-if="vm.getInterpretationType() === 'allele'">
      <div class="review-comment">
        <input type="text"
               class="id-review-comment"
               placeholder="REVIEW COMMENT"
               ng-model="vm.getSelectedInterpretation().state.review_comment"
               ng-disabled="vm.readOnly">
      </div>
    </div>
    <section class="line-wrapper">

      <section>
        <button class="id-copy-alamut" ng-click="vm.copySingleAlamut()">Copy variant to alamut</button>
        <button class="id-add-acmg" uib-popover-template="vm.popover.templateUrl"
                popover-class="acmg-popover"
                popover-append-to-body="true"
                popover-title="Add ACMG code"
                popover-trigger="outsideClick"
                popover-placement="left"
                ng-if="!vm.readOnly"
                ng-disabled="vm.readOnly"
        >Add ACMG
        </button>
        <upload ng-if="!vm.readOnly"
                  mode="'browse'"
                  buttontext="'Add attachment'"
                  allele-state="vm.getAlleleState(vm.allele)"
                  read-only="vm.readOnly">
        </upload>
        <button class="id-collapse-all"
                ng-click="vm.collapseAll()">Collapse all
        </button>
        <div class="dropdown white" ng-if="vm.interpretationService.genepanel_options && vm.getSelectedInterpretation().status != 'Ongoing'">
            <select
                class="id-genepanel-dropdown"
                ng-options="i as i.name + '_' + i.version for i in vm.interpretationService.genepanel_options"
                ng-model="vm.interpretationService.genepanel_options_selected">
            </select>
          </div>
        <workflow-buttons ng-if="vm.getInterpretationType() === 'allele'" start-when-reopen="true" readOnly="vm.readOnly"></workflow-buttons>

      </section>
    </section>
  </section>
</nav>

<div ng-if="vm.getInterpretationType() === 'analysis'" class="nav-secondary-spacer"></div>
<div ng-repeat="t in vm.allele.annotation.filtered track by t.transcript" class="nav-bottom-allelebar-spacer"></div>
<div class="nav-bottom-buttons-spacer"></div>