<div
    class="cb-table topfix max-width"
    ng-if="$ctrl.referenceAssessment && $ctrl.referenceAssessment.evaluation"
>
    <h4 class="faded-title content-top">Evaluation</h4>

    <div class="tabular-row" ng-if="$ctrl.referenceAssessment.evaluation.comment">
        <div class="cell">
            <wysiwyg-editor
                class="card-comment id-reference-comment"
                placeholder=""
                ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                ng-model="$ctrl.referenceAssessment.evaluation.comment"
                ng-change="$ctrl.referenceAssessmentCommentChanged({comment: $ctrl.referenceAssessment.evaluation.comment, alleleId: $ctrl.selectedAllele, referenceId: $ctrl.referenceId})"
            >
            </wysiwyg-editor>
        </div>
    </div>
</div>
