<div class="search-module">
  <sectionbox collapsible="true" collapsed="true" color="blue" class="id-search">
    <maintitle>
      Search
    </maintitle>


    <contentwrapper>
      <article class="search-options">
        <div class="question tiny line-wrapper">
          <div class="left">
            <h1 class="slim title search-option">
              <b>HGVSC OR GENOMIC</b>
            </h1>
          </div>
          <div class="right search-option">
            <input placeholder="e.g. c.123A>G or 13:100-300" class="id-search-freetext" ng-model="$ctrl.query.freetext" ng-change="$ctrl.queryChanged({query: $ctrl.query})">
          </div>
        </div>
        <div class="question tiny line-wrapper">
          <div class="left">
            <h1 class="slim title search-option">
              <b>GENE</b>
            </h1>
          </div>
          <div class="right bttn-set">
            <div class="id-select-gene dropdown white search-option">
              <select selector
                      change="$ctrl.optionSelected('gene', newValue)"
                      model="$ctrl.query.gene"
                      debounce="250"
                      label-attr="symbol"
                      options="$ctrl.options.gene"
                      remote="$ctrl.updateGeneOptions(search)"
                      placeholder="Search gene"
                      disable-search="false"
                      >
                    </select>
                </div>
            </div>
        </div>
        <div class="question tiny line-wrapper">
            <div class="left">
                <h1 class="slim title search-option">
                    <b>USER</b>
                </h1>
            </div>
            <div class="right bttn-set">
                <div class="id-select-user dropdown white search-option">
                    <script type="text/ng-template" id="userTemplate">
                        {{option.first_name}} {{option.last_name}}
                    </script>
                    <select selector
                      model="$ctrl.query.user"
                      change="$ctrl.optionSelected('user', newValue)"
                      options="$ctrl.options.user"
                      placeholder="Search user"
                      remote="$ctrl.updateUserOptions(search)"
                      view-item-template="'userTemplate'"
                      dropdown-item-template="'userTemplate'"
                      disable-search="false"
              >
              </select>
            </div>
          </div>
        </div>
        <div class="question tiny line-wrapper">
          <div class="left">
            <h1 class="slim title search-option">
              <b>SHOW EXCLUDED VARIANTS</b>
            </h1>
          </div>
          <div class="right bttn-set">
            <div class="id-filter-search search-option">
              <label tabindex=0 class="bttn" uib-btn-radio="item === 'Yes'" ng-model="$ctrl.query.filter"
                     ng-repeat="item in ['Yes', 'No']" ng-change="$ctrl.optionSelected('filter', $ctrl.query.filter)">{{item}}</label>
            </div>
          </div>
        </div>
      </article>
      <div>
        <h4 ng-if="$ctrl.results.alleles.length" class="section-header">Variants</h4>
        <h4 ng-if="$ctrl.results.alleles.length" class="results-limit-header">(showing 10 first results)</h4>
        <section ng-if="$ctrl.results.alleles.length">
          <article class="sectionbox-content allele-list">
            <a class="id-variant list-item clickable"
             href="{{item.allele.links.workflow}}"
             ng-repeat="item in $ctrl.results.alleles">
              <div class="full-title">
                  <b>{{item.allele.formatted.display}}</b>
                  <span class="assessment id-assessment">{{$ctrl.getClassificationText(item.allele)}}</span>
                </div>
                <div class="allele-users">
                  <div ng-repeat="interpretation in item.interpretations track by interpretation.id">
                    <div ng-if="interpretation.user"><h3 class="full-title">{{$index+1}} • {{$ctrl.getEndAction(interpretation)}}<b>{{interpretation.user.abbrev_name}}</b> • <i>{{interpretation.date_last_update | date:"yyyy-MM-dd HH:mm"}}</i></h3></div>
                  </div>
                </div>
                <div class="allele-extras">
                  <button class="blue" ng-click="$ctrl.showAnalysesClicked({allele: item.allele}); $event.preventDefault();">Show analyses</button>
              </div>
            </a>
          </article>
        </section>


        <h4 ng-if="$ctrl.results.analyses.length" class="section-header">Analyses</h4>
        <h4 ng-if="$ctrl.results.analyses.length" class="results-limit-header">(showing 10 first results)</h4>

        <section ng-if="$ctrl.results.analyses.length">
          <analysis-list store-path="'search.results.analyses'"></analysis-list>
        </section>

        <div class="no-results" ng-if="$ctrl.results.analyses.length == 0 && $ctrl.results.alleles.length == 0">
          <h4 class="sb-notification">No results</h4>
          <h4 class="sb-notification">Try to be less specific in your search criteria.</h4>
          <h4 class="sb-notification">Freetext examples: c.198A>G, 5:16451845, 13:32893296-32893415</h4>
        </div>
      </div>
    </contentwrapper>
  </sectionbox>
</div>
