<contentwrapper>
    <contentbox
        ng-repeat="_ in $ctrl.jobData track by $index"
        ng-init="$i = $index"
        boxtitle="IMPORT #{{ $i + 1 }}"
        color="green"
    >
        <cbbody>
            {{}}
            <div class="contentbox fixed-width-number">
                <article class="import-summary">
                    <section>
                        <div>
                            <div>
                                <span class="title">Filename: </span>
                                <span>TODO: filename</span>
                            </div>
                        </div>
                        <div class="import-selection">
                            <div ng-repeat="(key, value) in $ctrl.summary[$i]">
                                <span class="title">{{ key }}: </span>
                                <span>{{ value }}</span>
                            </div>
                        </div>

                        <button
                            class="green"
                            ng-model-watch="$ctrl.jobData[$i].collapsed"
                            ng-model="$ctrl.modelJobData[$i].collapsed"
                            ng-click="$ctrl.toggleCollapsed({index: $i})"
                        >
                            Toggle edit mode
                        </button>

                        <section class="import-edit" ng-if="!$ctrl.jobData[$index].collapsed">
                            <div class="question tiny line-wrapper">
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Create new or append to existing analysis, or annotate standalone variants."
                                    >
                                        <b>Type</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model-watch="$ctrl.jobData[$i].selection.type"
                                            ng-model="$ctrl.modelType[$i]"
                                            ng-change="$ctrl.selectionChanged({index: $i, key: 'type', value: $ctrl.modelType[$i]})"
                                            ng-repeat="item in ['Analysis', 'Variants']"
                                            ng-disabled="!$ctrl.genotypeAvailable[$i] && item === 'Analysis'"
                                            >{{ item }}</label
                                        >
                                    </div>
                                </div>
                            </div>

                            <!--Create or append to analysis-->
                            <div
                                ng-if="$ctrl.isAnalysisType[$i]"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Create new or append to analysis."
                                    >
                                        <b>Mode</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model-watch="$ctrl.jobData[$i].selection.mode"
                                            ng-model="$ctrl.modelMode[$i]"
                                            ng-change="$ctrl.selectionChanged({index: $i, key: 'mode', value: $ctrl.modelMode[$i]})"
                                            ng-repeat="item in ['Create', 'Append']"
                                            >{{ item }}</label
                                        >
                                    </div>
                                </div>
                            </div>

                            <!--Select analysis name for new analysis-->
                            <div
                                ng-if="$ctrl.isCreateNewAnalysisType[$i]"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Provide a descriptive name for the analysis"
                                    >
                                        <b>Analysis name</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <autosize-textarea
                                        placeholder="NAME"
                                        ng-model-watch="$ctrl.jobData.selection.analysisName"
                                        ng-model="$ctrl.modelAnalysisName[$i]"
                                        ng-change="$ctrl.selectionChanged({index: $i, key: 'analysisName', value: $ctrl.modelAnalysisName[$i]})"
                                    ></autosize-textarea>
                                </div>
                            </div>

                            <!--Select genepanel-->
                            <div
                                ng-if="$ctrl.isVariantType[$i] || $ctrl.isCreateNewAnalysisType[$i]"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5 class="slim title" tippy-title="Select genepanel">
                                        <b>Gene panel</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <div class="dropdown white genepanel">
                                            <script type="text/ng-template" id="genepanelTemplate">
                                                {{option.name}} {{option.version}}
                                            </script>
                                            <select
                                                selector
                                                model="$ctrl.jobData[$i].selection.genepanel"
                                                change="$ctrl.selectionChanged({index: $i, key: 'genepanel', value: newValue})"
                                                options="$ctrl.genepanels"
                                                placeholder="choose genepanel"
                                                view-item-template="'genepanelTemplate'"
                                                dropdown-item-template="'genepanelTemplate'"
                                                disable-search="false"
                                                remove-button="true"
                                            >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Select analysis to append to-->
                            <div
                                ng-if="$ctrl.isAppendToAnalysisType[$i]"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Choose analysis to append to"
                                    >
                                        <b>Analysis</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <div class="dropdown white analysis">
                                            <select
                                                selector
                                                model="$ctrl.jobData[$i].selection.analysis"
                                                debounce="250"
                                                change="$ctrl.selectionChanged({index: $i, key: 'analysis', value: newValue})"
                                                options="$ctrl.jobData[$i].analysesOptions"
                                                remote="$ctrl.updateAnalysisOptionsWrapper($i, search)"
                                                placeholder="choose analysis"
                                                label-attr="name"
                                                disable-search="false"
                                                remove-button="true"
                                            >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Select technology-->
                            <div class="question tiny line-wrapper">
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Is this data coming from HTS or Sanger"
                                    >
                                        <b>Technology</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model-watch="$ctrl.jobData[$i].selection.technology"
                                            ng-model="$ctrl.modelTechnology[$i]"
                                            ng-change="$ctrl.selectionChanged({index: $i, key: 'technology', value: $ctrl.modelTechnology[$i]})"
                                            ng-repeat="item in ['Sanger', 'HTS']"
                                            >{{ item }}</label
                                        >
                                    </div>
                                </div>
                            </div>

                            <!--Select priority-->
                            <div
                                class="question tiny line-wrapper"
                                ng-if="$ctrl.isCreateNewAnalysisType[$i]"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Priority of the imported analysis"
                                    >
                                        <b>Priority</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model-watch="$ctrl.jobData[$i].selection.priority"
                                            ng-model="$ctrl.modelPriority[$i]"
                                            ng-change="$ctrl.selectionChanged({index: $i, key: 'priority', value: $ctrl.modelPriority[$i]})"
                                            ng-repeat="item in [1,2,3]"
                                            >{{ $ctrl.priorityDisplay['' + item] }}</label
                                        >
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <section>
                        <div class="import-warning" ng-repeat="warning in $ctrl.warnings[$i]">
                            <p>WARNING: {{ warning }}</p>
                        </div>
                    </section>
                </article>

                <section class="import-variants">
                    <h5 class="slim title upper">Variants to include</h5>
                    <div>
                        <p
                            ng-repeat="line in $ctrl.jobData[$i].parsedInput.variantDataLines track by $index"
                        >
                            <input
                                tippy-title="Include in import"
                                type="checkbox"
                                ng-model-watch="$ctrl.jobData[$i].selection.include[$index]"
                                ng-model="$ctrl.modelInclude[$index]"
                                class="box"
                            />
                            {{ line.display }}
                        </p>
                    </div>
                </section>
            </div>
        </cbbody>
    </contentbox>
</contentwrapper>
