<sectionbox color="purple" collapsible="false">
  <titlebar>
    <h3 class="title">Report</h3>
  </titlebar>
  <contentwrapper class="report">
    <h4 ng-if="!vm.alleles.length" class="sb-notification dim">No alleles addded. You can add alleles from the classified variants on sidebar to the left.</h4>
    <pre ng-if="vm.alleles.length" class="included-report">
      <div ng-repeat="al in vm.getAlleles() track by al.id"><h5>{{vm.formatHGVS(al)}}</h5><p>{{vm.getAlleleReport(al).evaluation.comment}}</p></div>
    </pre>
  </contentwrapper>
</sectionbox>
