<sectionbox color="purple" collapsible="false">
  <maintitle>
    Report
  </maintitle>
  <contentwrapper class="report">
    <h4 class="section-header">Clinical report</h4>
    <h4 ng-if="!vm.alleles.length" class="sb-notification dim">No variants added. You can add variants from the classified variants on sidebar to the left.</h4>
    <pre ng-if="vm.alleles.length" class="included-report">
      <div class="report-entry" ng-repeat="al in vm.getAlleles() track by al.id"><h5>{{vm.formatHGVS(al)}}</h5><p>{{vm.getAlleleReport(al).evaluation.comment}}</p></div>
    </pre>
  </contentwrapper>
</sectionbox>
