<card collapsible="false" options="{}"> <!-- FIXME: text color for neutral cards...only works in modal currently -->
  <header>
    <div class="cell">
      <h3>Create report</h3>
    </div>
  </header>
  <status>

  </status>
  <content>
    <h3>Included</h3>
    (should be displayed per line?)
    <div ng-repeat="al in vm.getIncludedAlleles() track by al.id">
      <checkable-button show-mark="true" check-model="vm.state.allele[al.id].report.included">
        <checked>Included</checked>
        Include
      </checkable-button> <!-- FIXME: Not meant to be on separate lines, but one line per allele -->
      <h4>{{vm.getClassification(al)}} {{al.toString()}}</h4>
    </div>
    <h3>Excluded</h3>
    <select style="font-size: 2rem;" ng-options="al as vm.getClassification(al) + ' ' + al for al in vm.getExcludedAlleles()" ng-model="vm.selected_excluded"></select>
    <button ng-click="vm.includeSelectedExcluded()">Include</button>

    <h3>Needs verification</h3>
    <h4 ng-repeat="al in vm.getIncludedNeedsVerification()">{{al.toString()}}</h4>

    <h3>Report</h3>
    <pre><div ng-repeat="al in vm.getIncludedAlleles() track by al.id"><h5>{{vm.formatHGVS(al)}}</h5></div></pre>
  </content>
</card>
