$bar-colors: (
  blue: $blue,
  green: $green,
  purple: $purple,
  pink: $pink,
  black: $black,
);
@each $name, $color in $bar-colors {
   .sectionbox.#{$name}, .contentbox.#{$name} { background-color: hsla(hue($color),saturation($color),lightness($color),0.05); }
   .sectionbox.#{$name} .sb.titlebar { background-color: hsla(hue($color),saturation($color),lightness($color),0.25); }
   .contentbox.#{$name} .cb.titlebar { background-color: hsla(hue($color),saturation($color),lightness($color),0.50); }
}

.sectionbox, .contentbox { display: flex; height: calc(100% - 0.7rem);
  .titlebar { display: flex; flex-direction: column; align-items: center; justify-content: flex-start; width: 2.8rem; min-width: 2.8rem; }
  .titlebar div { margin: 1.75rem 0; }
  .titlebar div ~ div { margin-top: 0; }
  .title { font-family: $slim; transform: rotate(-180deg); writing-mode: vertical-lr; width: 2.8rem; line-height: 2.8rem; color: $black-50; font-weight: 700; letter-spacing: 0.1rem; font-size: 1.3rem; text-transform: uppercase; white-space: nowrap;
    a { color: inherit; border-left: 1px dashed; border-bottom: none; }
    a:hover { border-left: 1px solid; border-bottom: none; }
  }
  .close { color: $white-75; font-weight: 700; font-size: 1.2rem; transition: all 0.3s; width: 2.8rem; cursor: pointer; text-align: center; }
  .close.collapsed { transform: rotate(180deg); }
}

contentwrapper { display: flex; flex-direction: column; justify-content: center; height: 100%; }
.sectionbox { margin-top: 1.3rem;
  .sb-body { margin-left: 1.3rem; padding: 1.3rem; flex: 1; }
  h4.sb-notification { font-family: $full; color: $black-25; font-weight: 600; font-size: 1.5rem; text-transform: uppercase; letter-spacing: 0.075rem; }
}
.contentbox { margin: 0.35rem;
  .titlebar { justify-content: space-between; }
  .title { margin-right: 0.025rem; }
  .cb-body { padding: 1.3rem; width: 100%; }
  .title { color: white; }
  h5, p { font-size: 1.4rem; color: black; }
  .exac p { padding-right: 2.6rem; }
  h5 { font-weight: 400; padding-right: 2.6rem; margin: 0.2rem 0; white-space: pre; letter-spacing: -0.04rem; }
  h4 { font-weight: 500; font-size: 1.25rem; padding-right: 2.6rem; margin: 0.2rem 0; white-space: pre; letter-spacing: -0.04rem; text-transform: uppercase; }
  h4.faded-title { opacity: 0.5; }
  h5.wrap { white-space: normal; }
  h5.normaltext { padding-right: 0; }
  p { font-weight: 300; word-wrap: break-word; word-break: break-word; }
  ul { font-size: 1.2rem; padding: 0; margin: 0.7rem 2rem; margin-bottom: 1.3rem; }
  .comment-title { width: 15rem; }
  .cell + .cell button { margin-left: 6.5rem; }
}
// collapsed styling
.contentbox.collapsed { display: inline-flex;
  .cb-body { display: none; }
}
// no-content styling
.no-content .contentbox { background-color: $black-25;
  .cb.titlebar { background-color: Transparent; }
  .close { display: none; }
}

section.wrap { display: flex; flex-wrap: wrap; }

// Edge cases
.commentcb .cb-table .tabular-row:nth-child(even) .cell { border-top: 0.35rem solid Transparent; border-bottom: 0.35rem solid Transparent; }
.refcb { height: inherit;
  cbbody { display: flex; flex-direction: column; justify-content: center; height: 100%; }
  .cb-body { flex: 1; }
  .reference-layout { display: flex; align-items: center; justify-content: space-between; }
  .reference-layout ~ .reference-layout { margin-top: 0.7rem; }
  .max-width { width: 100%; }
  .topfix { margin-top: 2rem; }
}
.no-content .cb-titlebar { background-color: hsla(0,0,0,0.1); }
.no-content .cb-body { padding: 0; }
