// GENERIC ELEMENT STYLES

* { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-size: 62.5%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; font-family: $full; background-color: hsl(0,0,100); line-height: 1.42857143; color: #333; }
input { font-family: $slim; border: none; border-bottom: 1px solid $black-25; background-color: transparent; padding: 0.3rem; height: 2.6rem; font-size: 1.2rem; font-weight: 400; text-overflow: ellipsis; width: inherit;
  &:focus { border-bottom: 1px solid Transparent; box-shadow: 0px 0.3rem 0px $blue-50; outline: none; transition: all 0.3s ease-in-out; }
  &::placeholder { font-family: $full; letter-spacing: 0.1rem; word-spacing: 0.2rem; font-weight: 500; }
  &.white { color: white; border-bottom: 1px solid rgba(255,255,255,0.5);
    &::placeholder { color: rgba(255,255,255,0.5); }
    &:focus { border-bottom: 1px solid white; box-shadow: 0px 1px 0px white; outline: none; transition: all 0.3s ease-in-out; }
  }
}
textarea { font-size: 1.4rem; font-family: $slim; line-height: 2rem; padding: 0 0.3rem; width: 100%; min-height: 2.6rem; max-height: 50rem; border: none; background-color: transparent; border-bottom: 1px solid $black-50; border-radius: 0; outline: none; box-shadow: none; resize: vertical;
  &:focus { border-bottom: 1px solid Transparent; box-shadow: 0px 0.3rem 0px $blue-50; outline: none; transition: all 0.3s ease-in-out; }
  &::placeholder { font-family: $full; font-size: 1.3rem; letter-spacing: 0.1rem; word-spacing: 0.2rem; font-weight: 500; line-height: 2rem; color: $black-25; }
}
a, .clickable { color: inherit; text-decoration: none; border-bottom: 1px dashed; border-color: $black-25; cursor: pointer; }
a:hover, .clickable:hover { color: inherit; text-decoration: none; border-bottom: 1px solid; }
a.white, .clickable.white, a.white:hover, .clickable.white:hover { border-color: $white-25; }

button, select, .bttn { font-family: $full; font-size: 1.2rem; font-weight: 500; letter-spacing: 0.1rem; word-spacing: 0.2rem; text-transform: uppercase; padding: 0.25rem 0.75rem; padding-top: 0.4rem; color: $black-75; white-space: nowrap; border-radius: 0;
  &.white { color: $white-75; }
  &:focus { outline: none; box-shadow: 0 0.3rem 0 $blue-50; transition: all 0.3s; }
  &:hover:not([disabled]) { cursor: pointer; }
}
button, .dropdown, .bttn { height: 2.6rem; box-shadow: 0 0.3rem 0 $black-05; background-color: $white-75; transition: all 0.3s;
  &.ng-leave, &.ng-enter { transition: none; }
  &:hover:not([disabled]) { box-shadow: 0 0.3rem 0.3rem $black-25; background-color: $white; }
}
button.normal { background-color: $blue-05 !important; color: $black-75 !important;
  &:hover:not([disabled]) { background-color: $white !important; }
}
.tag {
  background-color: $black-05; font-family: $full; font-size: 1.2rem; font-weight: 500; letter-spacing: 0.1rem; word-spacing: 0.2rem; text-transform: uppercase; margin-right: 0.3rem; padding: 0.25rem 0.75rem; padding-top: 0.4rem; color: $black-75; white-space: nowrap; border-radius: 0;
}
select { border: none; box-shadow: none; background: transparent; height: 100%; width: 100%; outline: none; padding-right: 2.6rem; -moz-appearance: none; &:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; } -webkit-appearance: none; &:focus { border-color: inherit; } }
.dropdown { position: relative;
  &:after { content: ' '; position: absolute; top: 0; width: 0; height: 0; right: 10px; bottom: 0; margin: auto; border-style: solid; border-width: 5px 5px 0 5px; border-color: $black-75 transparent transparent transparent; pointer-events: none; }
  &[disabled] { border: 1px solid $black-50; color: $black-75; opacity: 0.25; background-color: inherit; select:hover { cursor: default; } }
}

p { font-family: $full; font-weight: 300; font-size: 1.4rem; letter-spacing: -0.025rem; color: $black; }

// interpretation-button button { height: 100%; } // fixes a browser quirk - edit, seems to have gone away with some other changes
.button ~ .button, button ~ button, button ~ interpretation-button, checkable-button ~ checkable-button, checkable-button ~ button, .dropdown ~ button { margin-left: 1.3rem; }
button { outline: none; border: 1px solid Transparent;
  &:disabled { border: 1px solid $black-50; box-shadow: none; color: $black-75; opacity: 0.25; background-color: inherit; &:hover { cursor: default; } }
  // We use svg in buttons for significantly more control over spacing/color/boldness, and to not rely on UTF8 chars in our markup.
  // These are awesome and extremely small: https://github.com/danklammer/bytesize-icons
}
.buttonmark { width: 1.5rem; height: 0.8rem; stroke-width: 14%; }

.max-width { width: 100%; }

// APP-WIDE STYLE
.main {
  //display: flex;
  width: 100%;
  min-height: calc(100vh - 11rem);
  height: 100%;

  .sidenavbar { color: $white-75; width: 4rem; background-color: $blue-50; margin-right: 3rem; font-family: $slim; font-weight: 700; letter-spacing: 0.1; text-transform: uppercase; min-height: calc(100vh - 11rem);
    .item-row { width: 100%; transform: rotate(-90deg);  transform-origin: 0 0; display: flex; margin-top: 29.5rem;
      .item {   height: 4rem; font-size: 2rem; padding-left: 3rem; padding-right: 3rem; line-height: 4rem;
        &.active {
          background-color: $blue-25;
        }
        &:hover {
          background-color: $blue-25;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
  .container { margin-left: 2rem; margin-top: 4rem; margin-right: 2.0rem; margin-bottom: 2.6rem; width: 100%; }
  .container.no-secondary-nav { margin-top: 12rem; }
  .container.inner { width: 100%; margin-left: 25.3rem; padding-left: 3.9rem; margin-right: 0; border-left: 1px dotted $blue-25; }


  // View specific stuff
  .overviewcontainer { display: flex; }
}
.app .search-area { margin-left: 42rem; }
.single-sample-analysis-container { display: flex; flex-direction: row; margin-right: 1.3rem; }
.full-width { width: 100%; }

.no-alleles, .no-results { height: calc(100vh - 19rem); display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center;
}
.no-alleles {
   h2 { font-family: $slim; font-size: 2.0rem; font-weight: 600; letter-spacing: 0.075rem; text-transform: uppercase; color: $black-50; }
   h4 { font-family: $slim; font-size: 1.8rem; font-weight: 600; letter-spacing: 0.075rem; text-transform: uppercase; color: $black-25; }
}


.hero { position: absolute; right: 1.3rem; top: 1.15rem; z-index: 1501; color: black; cursor: pointer;
  h1 { font-size: 4rem; text-transform: uppercase; font-weight: 600; display: flex; align-items: center; line-height: 4rem; transition: all 1s;  opacity: 0.25; }
  h1:hover { transform: rotateY(180deg); transform-style: preserve-3d; color: white; opacity: 0.75; }
  h1:hover #e { transform: rotateY(180deg); }
  h1:hover #les { visibility: visible; opacity: 1; }
  #e, #a, #les { font-size: 3.2rem; transition: all 1s; }
  #les { transform: rotateY(180deg); visibility: hidden; opacity: 0; }
}

nav.top { display: flex; flex-direction: row; align-items: center; background-color: $blue; color: white; padding: 0.7rem; height: 6.5rem; position: fixed; top: 0; left: 0; right: 0; z-index: 1500;
  section { display: flex; flex-direction: column; height: 100%; justify-content: space-between;
    &.left { width: calc(30vw - 1.3rem); display: flex; justify-content: space-around; padding-bottom: 0.35rem }
    &.right { width: calc(70vw - 1.3rem); margin-left: 0.35rem; margin-top: 5rem; }
  }
  .row { display: flex; flex-direction: row; align-items: center;
    &.up h3 { font-size: 1.3rem; }
    &.up { padding-bottom: 0.7rem; }
    &.down h3 { font-size: 1.5rem; }
    &.up, &.down { justify-content: space-between; padding-left: 0.5rem; }
  }
}

nav.secondary { display: flex; align-items: center; justify-content: space-between; background-color: $blue-25; height: 4.5rem; margin-top: 6.5rem; padding: 0 1.3rem;
  section { display: flex;
    button { margin-left: 1.3rem; }
    .dropdown { margin-left: 1.3rem; }
  }

  // Workflow specific
  .workflow-options { display: flex;
    .dropdown { margin-right: 2rem; }
    .review-comment {
      input { width: 25rem; }
    }
  }
}

.search-box { margin-left: auto; margin-right: 1rem;
  input { padding: 0.25rem 0.75rem; transition: all 0.3s; }
  input:focus { background-color: $white-75; }
  input:hover { background-color: $white-25; }
  input:focus:hover { background-color: $white-75; }
}

nav.warning { z-index: 99; position: fixed; bottom: 0; left: 0; right: 0; display: flex; align-items: center; justify-content: space-between; color: $white-95; background-color: $red-95; padding: 1.3rem;
  h2 {  font-weight: 400; font-size: 1.4rem; color: $white-75;}
  h3 {  font-weight: 400; font-size: 1.4rem; }
  h4 {  font-weight: 400; font-size: 1.2rem; padding-left: 1rem; }

}



.search-results .ng-enter { animation: 1s fade-in; }
.search-results { font-size: 1.3rem; width: 100%; position: relative; margin-bottom: 3.9rem;
  h4.section-header { @extend .sb-notification; font-family: $slim; color: $blue-75; font-weight: 700; font-size: 1.25rem; }
  .element { margin: 1.3rem 0; margin-left: 2.3rem;
    &-title { @extend .full-title; margin-bottom: 0.7rem; color: $black-50; }
    &-item { @extend .line-wrapper; padding: 0.35rem 2.3rem; margin-left: 0.3rem; border-left: 1px dotted $black-25;
      h4 { @extend .slim; color: $black-75; font-size: 1.4rem; transition: all 0.3s; }
      h4 i { font-size: 1.25rem; opacity: 1; }
      h4 i, h4 b { margin-right: 2.6rem; }
    }
    &-item:hover h4 { color: $black; cursor: pointer; }
  }
  .no-results { height: auto; padding-top: 3.9rem; padding-bottom: 1.3rem; }
}

.sidebar .ng-enter { opacity: 0; transition: all 0.6s ease-in-out; }
.sidebar .ng-enter-active { opacity: 1; }
.sidebar .nav-row.ng-leave, .allele-sidebar .nav-row .ng-leave { transition: none; }
.sidebar { display: flex; flex-direction: column; justify-content: flex-start; min-width: 24rem; min-height: 540px; position: fixed; left: 1.3rem; bottom: 1.3rem; top: 14.5rem; transition: top 0.6s;
  .higher & { top: 7.5rem; }
  section.enabled, section.disabled { flex-basis: auto; overflow-y: scroll; }
  section > div:first-child { margin-top: 1rem; }
  section > div:last-child { margin-bottom: 1rem; }
  h4 { font-family: $slim; font-weight: 600; margin: 0; font-size: 1.4rem; display: flex; justify-content: space-between; }
  h4.section-title { @extend h4.section-title; margin: 0.3rem 0; }
  .variant { width: 100%; padding-left: 0.7rem; height: 2.6rem; line-height: 2.6rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
  .variant span { width: 13.0rem; text-overflow: ellipsis; overflow: hidden; margin-left: auto; }
  i { font-weight: 400; font-style: normal; font-size: 1.25rem; margin-right: 1.3rem; }
  b { font-weight: 700; color: $black-75; padding: 0 1.3rem; }
  .nav-row { display: flex; align-items: center; color: $black-50; background-color: inherit; width: 24rem;
    &.disabled { color: $black-25; }
    & .tab, & .variant { transition: all 0.3s ease-in-out; }
    &:not(.disabled):hover { cursor: pointer; }
    &:not(.disabled):hover .tab { background-color: $blue-50; }
    &:not(.disabled):hover .variant { color: $black-75; }
    &.active:not(.toggled):hover { cursor: default; }
    &.active .variant, &.active:hover .variant { color: $blue; }
    &.active .tab, &.active:hover .tab { background-color: $blue; }
    &.toggled h4 b { color: $blue; }
  }
  .nav-row.active.toggled {
    &:hover .tab.togglable { background-color: $black-75; }
  }
  .indented { padding-left: 2rem; }
  .tab { width: 0.35rem; min-width: 0.35rem; height: 2.6rem; background-color: inherit; }
  .tab.togglable { display: flex; align-items: center; justify-content: center; width: 2.6rem; background-color: $black-50; cursor: pointer; }
  .added h5 { margin: 0; font-size: 1.3rem; font-weight: 600; color: white; }
}

#toast-container { position: fixed; z-index: 999999; bottom: 0; right: 0; left: 0; width: 100%;
  & > :hover { cursor: pointer; }
  .toast { position: relative; overflow: hidden; padding: 1.3rem 3.9rem 1.3rem 2.6rem; width: 100vw; margin: 0 auto; background-position: 15px center; background-repeat: no-repeat; color: hsla; opacity: 0.99; }
  .toast { background-color: #030303; }
  .toast:before { color: white; font-size: 1.1rem; font-family: $full; letter-spacing: 0.1rem; }
  .toast-success { background-color: $green; &:before { content: "HOORAY"; } }
  .toast-error { background-color: $red; &:before { content: "ERROR"; } }
  .toast-info { background-color: $purple-50; &:before { content: "INFORMATION"; } }
  .toast-warning { background-color: $yellow; &:before { content: "WARNING"; } }
  .toast-message { word-wrap: break-word; font-size: 1.7rem; font-family: $slim; font-weight: 600; text-transform: uppercase; color: white; padding-top: 0.3rem; }
  .toast.ng-enter { max-height: 0px ; transition: all 0.6s ease-in-out; }
  .toast.ng-enter.ng-enter-active { max-height: 1000px; }
  .toast.ng-leave { max-height: 1000px; transition: all 0.6s ease-in-out; }
  .toast.ng-leave.ng-leave-active { max-height: 0px; }
}

// all initial styling from toastr, probably needs fixed
button.toast-close-button { padding: 0; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none; }
.toast-title { font-weight: bold; }
.toast-message a, .toast-message label { color: $white-75; }
.toast-message a:hover { color: $white; text-decoration: none; }
.toast-close-button { position: relative; right: -0.3em; top: -0.3em; float: right; font-size: 20px; font-weight: bold; color: $white-75; -webkit-text-shadow: 0 1px 0 #ffffff; text-shadow: 0 1px 0 #ffffff; opacity: 0.8; }
.toast-close-button:hover, .toast-close-button:focus { color: $white; text-decoration: none; cursor: pointer; opacity: 0.4; }

.spacer { height: 4rem; }
