.modal { z-index: 98 !important;
  &-content { background-color: white; box-shadow: none; border-radius: 0px; border: 0; }
  &-dialog { margin-left: 22rem; margin-top: 6.5rem; margin-bottom: 0; }
  &-lg { width: inherit; }
  &-backdrop { bottom: 0; position: fixed; z-index: 97 !important; }
}

// - Primarily used in modals for user prompts and information
// - 'middle' is optional
.line-wrapper { display: flex; align-items: center;
  .left { flex: 4; text-align: right; }
  .middle { flex: 0.5; text-align: center; }
  .right { flex: 4; }
  .left ~ .right { margin-left: 1.3rem; }
}
.question { min-height: 8rem;
  .multiple-question-element ~ .multiple-question-element { margin-left: 1.3rem; }
  .bttn-set { display: flex; flex-wrap: wrap; }
  .bttn-set .bttn[disabled] { opacity: 0.25; border: 1px solid $blue-50; }
  .bttn[disabled] ~ .bttn[disabled] { border-left: none; }
  .bttn-set .bttn:hover:not([disabled]) { background-color: $blue-25; cursor: pointer; }
  .bttn-set .bttn.active:hover { background-color: $blue-75; cursor: default; color: white; }
  .bttn.active { box-shadow: none; background-color: $blue-75; color: white; }
  .dropdown { background-color: $blue-05; box-shadow: none; border: 1px solid $blue-25; }
  // .bttn { font-size: 1.2rem; font-weight: 500; text-transform: uppercase; letter-spacing: 0.2rem; padding: 0.25rem 0.75rem; color: $black-75; border: 1px solid $black-50; background-color: Transparent; border-radius: 0; white-space: pre; }
  .bttn { font-size: 1.2rem; font-weight: 500; text-transform: uppercase; letter-spacing: 0.1rem; word-spacing: 0.2rem; padding: 0.25rem 0.75rem; color: $black-75; background-color: $blue-05; border: 1px solid $blue-05; border-radius: 0; white-space: pre; }
  .bttn ~ .bttn { border-left: 1px solid $blue-25; }
  h2 { font-size: 2rem; text-transform: uppercase; font-weight: 400; letter-spacing: 0.05rem; }
  h5 { font-size: 1.4rem; font-weight: 500; text-transform: uppercase; margin: 0; }
  p { font-size: 1.4rem; font-weight: 400; margin: 0; }
  textarea { width: 100%; font-size: 1.2rem; font-family: $slim; }
}
.question.small { min-height: 4rem; }
.question.centered { text-align: center; }

// Used only in Add references (customAnnotationModal)
.big textarea { max-height: 25vh; margin: 1.3rem 0 2.6rem; } // FIXME - find an alternate way of constraining textarea in this single case

.popover { font-family: "Source Sans Pro", sans-serif; max-width: 50vw; }
.popover, .popover * { border-radius: 0; }
.popover-title { background-color: $blue-tint; font-weight: 600; text-transform: uppercase; font-size: 1.4rem; }
.allele_popup .popover-title { color: black; }
.allele_popup .popover-content { color: black; }
.popover-content .gpv_override { color: $red; }
// FIXME: styling of the gene information (comment) in popup
.popover-content pre {
  color: black;
  word-break: normal;
  word-wrap: normal;
  white-space: pre-wrap;
  background-color: white;
  border: 0;
  padding-left: 0;
  font-family: "Source Sans Pro", sans-serif; max-width: 50vw;
}

.acmg-popover {
  h3 { font-weight: 700; font-size: 1.4rem; color: $black-75; margin: 0; margin-bottom: 0.7rem; margin-top: 1.3rem; }
  p { font-weight: 300; margin: 0; word-wrap: break-word; word-break: break-word; font-size: 1.4rem; }
}

.reference, .reference .control { display: flex; align-items: center; justify-content: space-between; }
.reference .control { padding-left: 0.7rem; }
