@charset 'utf-8';
@import 'fonts';

$full: "Work Sans", sans-serif;
$slim: "Source Sans Pro", sans-serif;

$content-black: hsla(0,0,0,1);
$header-black: hsla(0,0,0,0.9);
$button-black: hsla(0,0,0,0.75);
$half-black: hsla(0,0,0,0.5);
$icon-half-black: hsla(0,0,0,0.25);
$hover-black: hsla(0,0,0,0.1);
$tint-black: hsla(0,0,0,0.05);

$blue: hsla(205,35,45,1);
$blue-sidebar: hsla(205,35,45,0.5);
$blue-button: hsla(205,35,45,1);
$blue-radio: hsla(205,35,75,1);
$blue-button-tint: hsla(205,35,45,0.25);
$blue-tint: hsla(205,35,45,0.05);
.blue-text { color: $blue; }

$green: hsla(140,35,45,1);
$green-sidebar: hsla(140,35,45,0.5);
$green-button: hsla(140,35,45,1);
$green-radio: hsla(140,35,75,1);
.green-text { color: $green; }

$yellow: hsla(45,35,45,1);
$yellow-sidebar: hsla(45,35,45,0.5);
$yellow-button: hsla(45,35,45,1);
$yellow-radio: hsla(45,35,75,1);
.yellow-text { color: $yellow; }

$red: hsla(10,35,45,1);
$red-sidebar: hsla(10,35,45,0.5);
$red-button: hsla(10,35,45,1);
$red-radio: hsla(10,35,75,1);
.red-text { color: $red; }

@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@keyframes fade-out { from { opacity: 1; } to { opacity: 0; } }

@import 'general-layout';
@import 'card';
@import 'card-content';
