<sectionbox class="id-add-excluded-modal" color="green" modal="true" on-close="$ctrl.close">
  <maintitle>
    ADD EXCLUDED VARIANTS
  </maintitle>
  <controls>
    <section class="line-wrapper pinned-right">
      <button class="id-close" type="button" ng-click="$ctrl.close()">Close</button>
    </section>
  </controls>
  <contentwrapper>
    <article ng-repeat="alleleId in $ctrl.includedAlleleIds track by alleleId">
      <sectionbox class="nobody" color="blue" collapsible="false">
        <maintitle>
          included
        </maintitle>
        <controls>
          <div class="line-wrapper spaced only-control">
            <allelebar class="allele-info" genepanel-path="$ctrl.genepanelPath" allele-path="'modals.addExcludedAlleles.data.includedAlleles.' + alleleId"></allelebar>
            <section>
              <checkable-button class="id-exclude-allele"
                                check-model="$ctrl.modelNotUsed[alleleId]"
                                on-change="$ctrl.excludeAlleleClicked({alleleId: alleleId})"
                                ng-if="!$ctrl.readOnly">
                EXCLUDE
              </checkable-button>
            </section>
          </div>
        </controls>
      </sectionbox>
    </article>

    <!-- END INCLUDED -->

    <!-- START MODAL CONTROLS -->
    <hr ng-if="vm.included_alleles.length">
    <div class="question small line-wrapper spaced">
      <section class="line-wrapper">
        <div class="bttn-set multiple-question-element">
          <label class="bttn" ng-change="$ctrl.categoryChanged({category: $ctrl.modelCategory})" ng-model="$ctrl.modelCategory" uib-btn-radio="'all'">All ({{$ctrl.metrics.all}})</label>
          <label class="bttn" ng-change="$ctrl.categoryChanged({category: $ctrl.modelCategory})" ng-model="$ctrl.modelCategory" uib-btn-radio="'frequency'">Frequency ({{$ctrl.metrics.frequency}})</label>
          <label class="bttn" ng-change="$ctrl.categoryChanged({category: $ctrl.modelCategory})" ng-model="$ctrl.modelCategory" uib-btn-radio="'region'">Region ({{$ctrl.metrics.region}})</label>
          <label class="bttn" ng-change="$ctrl.categoryChanged({category: $ctrl.modelCategory})" ng-model="$ctrl.modelCategory" uib-btn-radio="'quality'">Quality ({{$ctrl.metrics.quality}})</label>
          <label class="bttn" ng-change="$ctrl.categoryChanged({category: $ctrl.modelCategory})" ng-model="$ctrl.modelCategory" uib-btn-radio="'segregation'">Segregation ({{$ctrl.metrics.segregation}})</label>
        </div>
        <div class="dropdown multiple-question-element">
          <select ng-change="$ctrl.geneChanged({gene: $ctrl.modelGene})" ng-model="$ctrl.modelGene" ng-options="g for g in $ctrl.geneOptions">
            <option value="">All genes</option>
          </select>
        </div>
      </section>

    </div>
    <div class="question small line-wrapper spaced allele-control-bar">
      <h5 class="slim title upper"><b>{{$ctrl.metrics.current}} variants</b> <small>from current filter settings</small></h5>
      <div>
        <uib-pagination total-items="$ctrl.geneAlleleIds.length"
          ng-model="$ctrl.modelSelectedPage"
          ng-model-watch="$ctrl.selectedPage"
          class="pagination-sm"
          items-per-page="$ctrl.itemsPerPage"
          ng-change="$ctrl.pageChanged({selectedPage: $ctrl.modelSelectedPage})"
          boundary-links="true"
          max-size="5"
          rotate="false">
        </uib-pagination>
      </div>
    </div>

    <!-- END MODAL CONTROLS -->

    <!-- START EXCLUDED -->
    <article class="allele" ng-repeat="alleleId in $ctrl.alleleIds track by alleleId">
      <sectionbox color="purple" collapsible="false">
        <maintitle>
          excluded
        </maintitle>
        <controls>
          <div class="line-wrapper spaced">
            <allelebar class="allele-info" genepanel-path="$ctrl.genepanelPath" allele-path="'modals.addExcludedAlleles.data.alleles.' + alleleId"></allelebar>
            <section>
              <checkable-button class="id-include-allele"
                                check-model="$ctrl.modelIncludedAlleleIds[alleleId]"
                                on-change="$ctrl.includeAlleleClicked({alleleId: alleleId})"
                                ng-disabled="$ctrl.readOnly">
                INCLUDE
              </checkable-button>
            </section>
          </div>
        </controls>
        <contentwrapper>

          <article class="sectionbox-content">
            <allele-info-frequency-gnomad-exomes allele-path="'modals.addExcludedAlleles.data.alleles.' + alleleId "></allele-info-frequency-gnomad-exomes>
            <allele-info-frequency-gnomad-genomes allele-path="'modals.addExcludedAlleles.data.alleles.' + alleleId "></allele-info-frequency-gnomad-genomes>
            <allele-info-frequency-exac allele-path="'modals.addExcludedAlleles.data.alleles.' + alleleId "></allele-info-frequency-exac>
            <allele-info-frequency-indb allele-path="'modals.addExcludedAlleles.data.alleles.' + alleleId "></allele-info-frequency-indb>
            <allele-info-consequence allele-path="'modals.addExcludedAlleles.data.alleles.' + alleleId "></allele-info-consequence>
          </article>
        </contentwrapper>
      </sectionbox>
    </article>

    <!-- END EXCLUDED -->

  </contentwrapper>
</sectionbox>
