
    <article class="single-sample-analysis-container" ng-switch="vm.getSidebarSelected()">

        <allele-sidebar ng-if="vm.showSidebar"
                        read-only="vm.readOnly"
                        alleles="vm.allele_sidebar.alleles"
                        selected="vm.allele_sidebar.selected"
                        checked="vm.interpretation.state.report.included">
        </allele-sidebar>

      <section class="container" ng-class="{'inner': vm.showSidebar}">

        <div ng-switch-when="Frequency & QC">
          <!-- Recompiles the DOM upon change. <allele-sectionbox> uses one-time bindings for perf, as sometimes you might show lots of them on same page -->
            <allele-sectionbox
              read-only="vm.readOnly"
              header="section.title"
              genepanel="vm.interpretation.analysis.genepanel"
              allele="vm.allele_sidebar.selected"
              references="vm.references"
              allele-state="vm.getAlleleState(vm.allele_sidebar.selected)"
              allele-user-state="vm.getAlleleUserState(vm.allele_sidebar.selected)"
              analysis="vm.interpretation.analysis"
              controls="section.controls"
              on-update="vm.onUpdate()"
              on-skip="vm.selectNextAllele()"
              ng-if="vm.allele_sidebar.selected"
              section="section"
              alleleassessment-comment="section.alleleassessment_comment"
              allelereport-comment="section.report_comment"
              ng-repeat="section in vm.getComponent('Frequency & QC').sections">
            </allele-sectionbox>
          <div ng-if="!vm.hasResults()" class="no-alleles">
            <h2>No variants with frequency data</h2>
          </div>
        </div>
        <div ng-switch-when="Classification">
            <allele-sectionbox
              read-only="vm.readOnly"
              header="section.title"
              genepanel="vm.interpretation.analysis.genepanel"
              allele="vm.allele_sidebar.selected"
              references="vm.references"
              allele-state="vm.getAlleleState(vm.allele_sidebar.selected)"
              allele-user-state="vm.getAlleleUserState(vm.allele_sidebar.selected)"
              analysis="vm.interpretation.analysis"
              controls="section.controls"
              on-change-class="vm.onChangeClass(allele)"
              on-update="vm.onUpdate()"
              ng-if="vm.allele_sidebar.selected"
              section="section"
              alleleassessment-comment="section.alleleassessment_comment"
              allelereport-comment="section.report_comment"
              ng-repeat="section in vm.getComponent('Classification').sections">
            </allele-sectionbox>
          <div ng-if="!vm.hasResults()" class="no-alleles">
            <h2>No variants to classify.</h2>
          </div>
        </div>

        <report-card
          read-only="vm.readOnly"
          class="single-sample-analysis-item"
          ng-switch-when="Report"
          analysis="vm.interpretation.analysis"
          alleles="vm.getComponent('Report').alleles"
          references="vm.references"
          state="vm.interpretation.state"
          user-state="vm.interpretation.user_state">
        </report-card>

      </section>
    </article>
