<div class="main">
  <div class="interpretation">
    <interpretation
      components="vm.components"
      selected-component="vm.selected_component"
      genepanel="vm.getGenepanel()"
      ng-if="vm.isViewReady()"
      read-only="vm.readOnly()"
    ></interpretation>
  </div>
</div>

<div class="collision-warning" ng-if="vm.collisionWarning" ng-style="{'height': vm.getCollisionWarningHeight()}"></div>


<!-- - ->
<section class="debug">
<h4>Debug:</h4>
<br><br>
<h5>Interpretation state:</h5>
<p><pre>{{vm.getSelectedInterpretation().state | prettyJSON}}</pre></p>
<h5>Interpretation user state:</h5>
<p><pre>{{vm.getSelectedInterpretation().user_state | prettyJSON}}</pre></p>
</section>
 <!- - -->
