<div class="main">

  <nav class="secondary">
    <div class="workflow-options">
      <div class="review-comment">
        <input type="text"
               class="id-review-comment"
               placeholder="REVIEW COMMENT"
               ng-model="vm.getInterpretation().state.review_comment"
               ng-disabled="vm.readOnly()"></input>
      </div>
    </div>
    <section>
      <div class="dropdown white" ng-if="false">  <!--Hide for now, add back when we have admin users-->
        <select
          class="id-interpretationrounds-dropdown"
          ng-options="i as vm.formatHistoryOption(i) for i in vm.history_interpretations"
          ng-model="vm.selected_interpretation">
        </select>
      </div>
        <workflow-buttons alleles="vm.getAlleles()"
                          allele-id="vm.allele_id"
                          genepanel-name="vm.genepanelName"
                          genepanel-version="vm.genepanelVersion"
                          reload="vm.reloadInterpretationData()"
                          selected-interpretation="vm.getInterpretation()"
                          interpretations="vm.interpretations"
                          read-only="vm.readOnly()"
                          start-when-reopen="true"
        ></workflow-buttons>
    </section>
  </nav>
  <nav class="warning" ng-if="vm.allele_collisions.length > 0">
    <collision-warning mode="'single'" collisions="vm.allele_collisions"></collision-warning>
  </nav>
  <div class="interpretation">
    <interpretation
      components="vm.components"
      selected-component="vm.selected_component"
      interpretation="vm.getInterpretation()"
      genepanel="vm.selected_interpretation_genepanel"
      alleles="vm.getAlleles()"
      update-alleles="vm.loadAllele()"
      show-sidebar="false"
      ng-if="vm.getAlleles().length && vm.interpretations_loaded"
      read-only="vm.readOnly()"
    ></interpretation>
  </div>

</div>

<!-- -->
<h4>Debug:</h4>
<br><br>
<h5>Interpretation state:</h5>
<p><b>Dirty? {{vm.selected_interpretation.dirty}} Status: {{vm.selected_interpretation.status}}</b></p>
<p><pre>{{vm.selected_interpretation.state| prettyJSON}}</pre></p>
<h5>Interpretation user state:</h5>
<p><pre>{{vm.selected_interpretation.user_state | prettyJSON}}</pre></p>

 <!-- -->
