<contentwrapper>
  <contentbox title="IMPORT #{{vm.index}}" color="green">

    <cbbody>
      <div class="contentbox fixed-width-number" >
        <!--<div>-->

        <article class="import-summary">
          <section>
            <div>
              <div>
                <span class="title">Filename: </span>
                <span>{{vm.importData.getFilename()}}</span>
              </div>
            </div>
            <div class="import-selection">
              <div ng-repeat="(key, value) in vm.getSummary()">
                <span class="title">{{key}}: </span>
                <span>{{value}}</span>
              </div>
            </div>
            <button class="blue" ng-click="vm.toggleEditMode()">
              Edit import
            </button>

            <section class="import-edit" ng-if="vm.editMode">

              <div class="question tiny line-wrapper">
                <div class="left-short">
                  <h5 class="slim title" title="Create new or append to existing analysis, or annotate standalone variants.">
                    <b>Type</b>
                  </h5>
                </div>
                <div class="right">
                  <div class="bttn-set">
                    <label tabindex=0 class="bttn" uib-btn-radio="item" ng-model="vm.importData.importSelection.mode" ng-model-options="{ getterSetter: true }"
                           ng-repeat="item in vm.importData.getChoices('mode')" ng-disabled="vm.warnings.noGenotype.active && item === 'Analysis'">{{item}}</label>
                  </div>
                </div>
              </div>

              <!--Create or append to analysis-->
              <div ng-if="vm.importData.isAnalysisMode()" class="question tiny line-wrapper">
                <div class="left-short">
                  <h5 class="slim title" title="Create new or append to analysis.">
                    <b>Mode</b>
                  </h5>
                </div>
                <div class="right">
                  <div class="bttn-set">
                    <label tabindex=0 class="bttn" uib-btn-radio="item" ng-model="vm.importData.importSelection.type"
                           ng-repeat="item in vm.importData.getChoices('type')">{{item}}</label>
                  </div>
                </div>
              </div>

              <!--Select analysis name for new analysis-->
              <div ng-if="vm.importData.isCreateNewAnalysisType()" class="question tiny line-wrapper">
                <div class="left-short">
                  <h5 class="slim title" title="Provide a descriptive name for the analysis">
                    <b>Analysis name</b>
                  </h5>
                </div>
                <div class="right">
                  <autosize-textarea placeholder="NAME" ng-model="vm.importData.importSelection.analysisName"></autosize-textarea>
                </div>
              </div>

              <!--Select genepanel-->
              <div ng-if="vm.importData.isVariantMode() || vm.importData.isCreateNewAnalysisType()" class="question tiny line-wrapper">
                <div class="left-short">
                  <h5 class="slim title" title="Select genepanel">
                    <b>Genepanel</b>
                  </h5>
                </div>
                <div class="right">
                  <div class="bttn-set">
                    <div class="dropdown white genepanel">
                      <script type="text/ng-template" id="genepanelTemplate">
                        {{option.name}} {{option.version}}
                      </script>
                      <select selector
                              model="vm.importData.importSelection.genepanel"
                              options="vm.genepanels"
                              placeholder="choose genepanel"
                              view-item-template="'genepanelTemplate'"
                              dropdown-item-template="'genepanelTemplate'"
                              disable-search="false"
                              remove-button="true"
                      >
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!--Select analysis to append to-->
              <div ng-if="vm.importData.isAppendToAnalysisType()" class="question tiny line-wrapper">
                <div class="left-short">
                  <h5 class="slim title" title="Choose analysis to append to">
                    <b>Analysis</b>
                  </h5>
                </div>
                <div class="right">
                  <div class="bttn-set">
                    <div class="dropdown white analysis">
                      <select selector
                              model="vm.importData.importSelection.analysis"
                              debounce="250"
                              options="vm.analyses"
                              remote="vm.updateAnalysisOptions(search)"
                              placeholder="choose analysis"
                              label-attr="name"
                              disable-search="false"
                              remove-button="true"
                      >
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!--Select technology-->
              <div class="question tiny line-wrapper">
                <div class="left-short">
                  <h5 class="slim title" title="Is this data coming from HTS or Sanger">
                    <b>Technology</b>
                  </h5>
                </div>
                <div class="right">
                  <div class="bttn-set">
                    <label tabindex=0 class="bttn" uib-btn-radio="item" ng-model="vm.importData.importSelection.technology"
                           ng-repeat="item in vm.importData.getChoices('technology')">{{item}}</label>
                  </div>
                </div>
              </div>
            </section>
          </section>
        <section>
          <div class="import-warning" ng-repeat="warning in vm.warnings" ng-if="vm.showWarning(warning)">
            <p>WARNING: {{warning.text}}</p>
          </div>
        </section>
          <section ng-if="!vm.importData.isSelectionComplete()">
            <div class="import-warning">
              <p>WARNING: Selection is incomplete</p>
            </div>
          </section>

        </article>

        <section class="import-variants">

          <h5 class="slim title upper">Variants to include</h5>
          <div>
            <p ng-repeat="(description,line) in vm.importData.contents.lines">
              <input title="Include in import" type="checkbox" ng-model="line.include" class="box">
              {{description}}
            </p>
          </div>
        </section>
      </div>

    </cbbody>

  </contentbox>
</contentwrapper>