<contentwrapper>
    <contentbox boxtitle="IMPORT #{{ $ctrl.index + 1 }}" color="green">
        <cbbody>
            <div class="contentbox fixed-width-number">
                <article class="import-summary">
                    <section>
                        <div>
                            <div>
                                <span class="title">Filename: </span>
                                <span>{{ $ctrl.importData.getFilename() }}</span>
                            </div>
                        </div>
                        <div class="import-selection">
                            <div ng-repeat="(key, value) in $ctrl.getSummary()">
                                <span class="title">{{ key }}: </span>
                                <span>{{ value }}</span>
                            </div>
                        </div>

                        <button
                            class="blue"
                            ng-disabled="!$ctrl.editMode || !$ctrl.importData.isSelectionComplete()"
                            ng-click="$ctrl.toggleEditMode()"
                        >
                            {{ $ctrl.editMode ? 'Import' : 'Import triggered' }}
                        </button>

                        <section class="import-edit" ng-if="$ctrl.editMode">
                            <div class="question tiny line-wrapper">
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Create new or append to existing analysis, or annotate standalone variants."
                                    >
                                        <b>Type</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model="$ctrl.importData.importSelection.mode"
                                            ng-model-options="{ getterSetter: true }"
                                            ng-repeat="item in ['Analysis', 'Variants']"
                                            ng-disabled="$ctrl.warnings.noGenotype.active && item === 'Analysis'"
                                            >{{ item }}</label
                                        >
                                    </div>
                                </div>
                            </div>

                            <!--Create or append to analysis-->
                            <div
                                ng-if="$ctrl.importData.isAnalysisMode()"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Create new or append to analysis."
                                    >
                                        <b>Mode</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model="$ctrl.importData.importSelection.type"
                                            ng-repeat="item in ['Create', 'Append']"
                                            >{{ item }}</label
                                        >
                                    </div>
                                </div>
                            </div>

                            <!--Select analysis name for new analysis-->
                            <div
                                ng-if="$ctrl.importData.isCreateNewAnalysisType()"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Provide a descriptive name for the analysis"
                                    >
                                        <b>Analysis name</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <autosize-textarea
                                        placeholder="NAME"
                                        ng-model="$ctrl.importData.importSelection.analysisName"
                                    ></autosize-textarea>
                                </div>
                            </div>

                            <!--Select genepanel-->
                            <div
                                ng-if="$ctrl.importData.isVariantMode() || $ctrl.importData.isCreateNewAnalysisType()"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5 class="slim title" tippy-title="Select genepanel">
                                        <b>Gene panel</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <div class="dropdown white genepanel">
                                            <script type="text/ng-template" id="genepanelTemplate">
                                                {{option.name}} {{option.version}}
                                            </script>
                                            <select
                                                selector
                                                model="$ctrl.importData.importSelection.genepanel"
                                                options="$ctrl.genepanels"
                                                placeholder="choose genepanel"
                                                view-item-template="'genepanelTemplate'"
                                                dropdown-item-template="'genepanelTemplate'"
                                                disable-search="false"
                                                remove-button="true"
                                            >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Select analysis to append to-->
                            <div
                                ng-if="$ctrl.importData.isAppendToAnalysisType()"
                                class="question tiny line-wrapper"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Choose analysis to append to"
                                    >
                                        <b>Analysis</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <div class="dropdown white analysis">
                                            <select
                                                selector
                                                model="$ctrl.importData.importSelection.analysis"
                                                debounce="250"
                                                options="$ctrl.analyses"
                                                remote="$ctrl.updateAnalysisOptions(search)"
                                                placeholder="choose analysis"
                                                label-attr="name"
                                                disable-search="false"
                                                remove-button="true"
                                            >
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Select technology-->
                            <div class="question tiny line-wrapper">
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Is this data coming from HTS or Sanger"
                                    >
                                        <b>Technology</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model="$ctrl.importData.importSelection.technology"
                                            ng-repeat="item in $ctrl.importData.getChoices('technology')"
                                            >{{ item }}</label
                                        >
                                    </div>
                                </div>
                            </div>

                            <!--Select priority-->
                            <div
                                class="question tiny line-wrapper"
                                ng-if="$ctrl.importData.isCreateNewAnalysisType()"
                            >
                                <div class="left-short">
                                    <h5
                                        class="slim title"
                                        tippy-title="Priority of the imported analysis"
                                    >
                                        <b>Priority</b>
                                    </h5>
                                </div>
                                <div class="right">
                                    <div class="bttn-set">
                                        <label
                                            tabindex="0"
                                            class="bttn"
                                            uib-btn-radio="item"
                                            ng-model="$ctrl.importData.importSelection.priority"
                                            ng-repeat="item in $ctrl.importData.getChoices('priority')"
                                            >{{ $ctrl.priorityDisplay['' + item] }}</label
                                        >
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <section>
                        <div
                            class="import-warning"
                            ng-repeat="warning in $ctrl.warnings"
                            ng-if="$ctrl.showWarning(warning)"
                        >
                            <p>WARNING: {{ warning.text }}</p>
                        </div>
                    </section>
                    <section ng-if="!$ctrl.importData.isSelectionComplete()">
                        <div class="import-warning">
                            <p>WARNING: Selection is incomplete</p>
                        </div>
                    </section>
                </article>

                <section class="import-variants">
                    <h5 class="slim title upper">Variants to include</h5>
                    <div>
                        <p ng-repeat="(description,line) in $ctrl.importData.contents.lines">
                            <input
                                tippy-title="Include in import"
                                type="checkbox"
                                ng-model="line.include"
                                class="box"
                            />
                            {{ description }}
                        </p>
                    </div>
                </section>
            </div>
        </cbbody>
    </contentbox>
</contentwrapper>
