<sectionbox class="id-sectionbox-{{$ctrl.sectionKey}}" color="{{$ctrl.getCardColor()}}" on-collapse="$ctrl.collapseChangedWrapper(collapsed, $ctrl.sectionKey)" collapsed="$ctrl.collapsed">
  <maintitle>
  {{$ctrl.section.title}}
  </maintitle>

  <controls>


    <!-- Controls -->
    <section class="line-wrapper" ng-if=$ctrl.section.controls.length>
      <div class="button" ng-repeat="control in $ctrl.section.controls" ng-if="$ctrl.showControls()">
          <!-- <button class="id-igv"
                  ng-if="control == 'igv' && $ctrl.config.app.enable_igv"
                  ng-click="vm.showIgv()">Show in IGV
          </button> -->
          <button class="id-classification-outdated"
                  ng-if="control == 'reuse_classification' && $ctrl.isAlleleAssessmentOutdated"
                  disabled>Classification outdated
          </button>

          <checkable-button class="id-accept-classification"
                            ng-if="control == 'reuse_classification' && $ctrl.hasExistingAlleleAssessment && !$ctrl.isAlleleAssessmentOutdated"
                            check-model="$ctrl.isAlleleAssessmentReused"
                            ng-click="$ctrl.reuseAlleleAssessmentClicked({alleleId: $ctrl.selectedAllele})"
                            one-way="true"
                            ng-disabled="$ctrl.readOnly">
              Undo reevaluation
              <checked>Reevaluate</checked>
          </checkable-button>

          <button class="id-mark-class1"
                  ng-if="control == 'toggle_class1'"
                  ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                  ng-click="$ctrl.classificationChanged({alleleId: $ctrl.selectedAllele, classification: '1'})">
              Mark class 1
          </button>

          <button class="id-mark-class2"
                  ng-if="control == 'toggle_class2'"
                  ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                  ng-click="$ctrl.classificationChanged({alleleId: $ctrl.selectedAllele, classification: '2'})">
              Mark class 2
          </button>

          <!-- FIXME -->
          <button class="id-add-references"
                  ng-click="$ctrl.addCustomAnnotationClicked({alleleId: $ctrl.selectedAllele, category: 'references'})"
                  ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                  ng-if="control == 'references'">Add studies
          </button>

          <!-- FIXME -->
          <button class="id-show-ignored-references"
                  ng-click="$ctrl.showExcludedReferencesClicked({alleleId: $ctrl.selectedAllele})"
                  ng-if="control == 'references'">{{$ctrl.getExcludedReferencesBtnText()}}
          </button>

          <button class="id-add-external"
                  ng-if="control == 'custom_external'"
                  ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                  ng-click="$ctrl.addCustomAnnotationClicked({alleleId: $ctrl.selectedAllele, category: 'external'})">Add external DB
          </button>

          <button class="id-add-prediction"
                  ng-if="control == 'custom_prediction'"
                  ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                  ng-click="$ctrl.addCustomAnnotationClicked({alleleId: $ctrl.selectedAllele, category: 'prediction'})">Add prediction
          </button>

          <button ng-if="control == 'add_reference'"
                  ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                  ng-click="$ctrl.addCustomAnnotationClicked({alleleId: $ctrl.selectedAllele, category: 'references'})">Add reference
          </button>

        <section class="line-wrapper" ng-if="control == 'classification'">
          <div class="dropdown">
              <select class="id-select-classification"
                      ng-class="{'readOnly': $ctrl.readOnly}"
                      ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                      ng-model="$ctrl.modelClassification"
                      ng-model-watch="$ctrl.alleleassessment.classification"
                      ng-options="o.value as o.name for o in $ctrl.classificationOptions"
                      ng-change="$ctrl.classificationChanged({alleleId: $ctrl.selectedAllele, classification: $ctrl.modelClassification})"></select>
          </div>
        </section>
      </div>
    </section>

</controls>

<!-- Comments -->
<top class="comments">
        <!-- we should use ng-model-watch here, but editor does not
        support external updates in a good way
         shouldn't be a problem as long as we don't Compute on this value -->
    <wysiwyg-editor class="control-comment id-comment-{{$ctrl.section.alleleassessmentComment.name}}"
                       ng-disabled="$ctrl.isAlleleAssessmentReused || $ctrl.readOnly"
                       placeholder="{{$ctrl.section.alleleassessmentComment.placeholder}}"
                       ng-change="$ctrl.evaluationCommentChanged({alleleId: $ctrl.selectedAllele, name: $ctrl.section.alleleassessmentComment.name, comment: $ctrl.alleleassessment.evaluation[$ctrl.section.alleleassessmentComment.name].comment})"
                       ng-model="$ctrl.alleleassessment.evaluation[$ctrl.section.alleleassessmentComment.name].comment"
                       ng-if="$ctrl.section.alleleassessmentComment"></wysiwyg-editor>

    <wysiwyg-editor class="control-comment id-comment-report"
                       ng-disabled="$ctrl.readOnly"
                       placeholder="{{$ctrl.section.reportComment.placeholder}}"
                       ng-change="$ctrl.alleleReportCommentChanged({alleleId: $ctrl.selectedAllele, comment: $ctrl.allelereport.evaluation.comment})"
                       ng-model="$ctrl.allelereport.evaluation.comment"
                       ng-if="$ctrl.section.reportComment"></wysiwyg-editor>

      <div class="id-attachments" ng-if="$ctrl.section.options.showIncludedAcmgCodes">
        <h4 class="section-title acmg-body">Attachments</h4>
        <section class="attachment-wrapper">
          <attachment
                ng-repeat="attachment_id in $ctrl.alleleassessment.attachment_ids"
                attachment-path="'views.workflows.data.attachments.' + attachment_id">
          </attachment>
          <upload mode="'drop'"></upload>
        </section>
    </div>

    <!-- Included ACMG codes -->
    <!-- Don't use 'track by $index' -->
    <div class="id-acmg-included" ng-if="$ctrl.section.options.showIncludedAcmgCodes">
        <h4 class="section-title acmg-body">ACMG <span ng-if="!$ctrl.readOnly && !$ctrl.isAlleleAssessmentReused">(SUGGESTED CLASS: <span class="suggested-class">{{$ctrl.alleleassessment.evaluation.acmg.suggested_classification}}</span>)</span></h4>
        <section class="acmg-wrapper included">
                <!-- FIXME -->
          <acmg directreqs="true"
                code="code"
                isUpgradable="true"
                isDowngradable="true"
                ng-repeat="code in $ctrl.alleleassessment.evaluation.acmg.included"
                on-toggle="$ctrl.removeAcmgClicked({alleleId: $ctrl.selectedAllele, code: {uuid: code.uuid}})"
                toggle-text="REMOVE"
                comment-model="code.comment"
                on-update="$ctrl.acmgCodeChangedWrapper(code)"
                editable="!$ctrl.isAlleleAssessmentReused && !$ctrl.readOnly">
          </acmg>
        </section>
    </div>
</top>

<contentwrapper>
    <allele-sectionbox-content
      class="sectionbox-content"
      allele-path="$ctrl.getAllelePath()"
      boxes="$ctrl.section.content"
    ></allele-sectionbox-content>
</contentwrapper>
</sectionbox>
