<card collapsible="false" color="{{vm.getCardColor()}}" options="vm.options">
  <primary id="allele-header-{{vm.allele.id}}">
    <h3 ng-repeat="t in vm.allele.annotation.filtered track by t.Transcript">
      <div class="allele_popup clickable white" isolate-click>
        <transcript-wrapper  transcript="t"
                             popover-trigger="outsideClick"
                             uib-popover-template="'ngtmpl/phenotypes_popover.ngtmpl.html'"
                             popover-title="{{t.SYMBOL}}"
                             popover-placement="right-top">

         {{t.SYMBOL}}
          <i>(<gpv source="vm.getGenepanelValues(t.SYMBOL)" display="inheritance" prefix="" mode="_"></gpv><!--
           --><gpv source="vm.getGenepanelValues(t.SYMBOL)" display="freq_cutoffs_external" prefix="|"></gpv><!--
           --><gpv source="vm.getGenepanelValues(t.SYMBOL)" display="freq_cutoffs_internal" prefix=""></gpv><!--
           --><gpv source="vm.getGenepanelValues(t.SYMBOL)" display="last_exon" prefix="|"></gpv>)</i>
      </transcript-wrapper>
      </div>
    </h3>
    <h3 class="allele_popup hoverable" isolate-click ng-repeat="t in vm.allele.annotation.filtered track by t.Transcript">
        <div popover-trigger="outsideClick"
             uib-popover-template="'ngtmpl/cdnaPopover.ngtmpl.html'"
             popover-title="HGVS c.DNA"
             popover-placement="auto top">
            <transcript-wrapper transcript="t"><i>{{t.HGVSc | HGVS_firsthalf}}:</i><b>{{t.HGVSc | HGVSc_short}}</b> </transcript-wrapper>
        </div>
    </h3>
    <h3 class="allele_popup hoverable" isolate-click ng-repeat="t in vm.allele.annotation.filtered track by t.Transcript">
      <div popover-trigger="outsideClick"
           uib-popover-template="'ngtmpl/proteinPopover.ngtmpl.html'"
           popover-title="HGVS protein"
           popover-placement="auto top">
        <transcript-wrapper transcript="t"><i>{{t.HGVSp | HGVS_firsthalf}}:</i><b>{{t.HGVSp | HGVSp_short}}</b> </transcript-wrapper>
      </div>
    </h3>
    <h3 ng-if="vm.getClassification() == null"><i></i></h3>
    <h3 ng-if="vm.getClassification() != null"><i>class:</i> <b>{{vm.getClassification()}}</b></h3>
  </primary>
  <secondary>
    <autosize-textarea class="card-comment" ng-disabled="!vm.isEditable()" placeholder="{{vm.comment}}" ng-model="vm.commentModel" ng-if="vm.comment"></autosize-textarea>
    <autosize-textarea class="card-comment" ng-disabled="!vm.isEditable()" placeholder="{{vm.reportComment}}" ng-model="vm.reportCommentModel" ng-if="vm.reportComment"></autosize-textarea>
  </secondary>
  <bottom>
    <allele-card-content
      analysis="vm.analysis"
      allele="vm.allele"
      references="vm.references"
      allele-state="vm.alleleState"
      sections="vm.sections.bottom"
      on-save="vm.onUpdate()"
    ></allele-card-content>
  </bottom>
  <expanded ng-if="vm.sections.expanded.length">
    <allele-card-content
      analysis="vm.analysis"
      allele="vm.allele"
      references="vm.references"
      allele-state="vm.alleleState"
      sections="vm.sections.expanded"
      on-save="vm.onUpdate()"
    ></allele-card-content>
  </expanded>
  <controls class="grouped-controls">
    <button ng-if="vm.controls.vardb && vm.isAlleleAssessmentOutdated()" disabled>Classification outdated</button>
    <checkable-button ng-if="vm.controls.vardb && !vm.isAlleleAssessmentOutdated()" show-mark="true" ng-if="vm.controls.vardb" check-model="vm.isAlleleAssessmentReused()" ng-click="vm.toggleReuseAlleleAssessment()" one-way="true">
      Accept classification
      <checked>Classification accepted</checked>
    </checkable-button>
    <checkable-button show-mark="true" ng-if="vm.controls.class2" check-model="vm.alleleState.classT" ng-click="vm.toggleTechnical()" one-way="true" ng-disabled="vm.alleleState.class2">
      Mark technical
      <checked>Marked technical</checked>
    </checkable-button>
    <checkable-button show-mark="true" ng-if="vm.controls.class2" check-model="vm.alleleState.class2" ng-click="vm.toggleClass2()" one-way="true" ng-disabled="vm.alleleState.classT">
      Mark class 2
      <checked>Marked class 2</checked>
    </checkable-button>
    <button ng-click="vm.showAddReferenceModal()" ng-if="vm.controls.references">Add references</button>
    <button ng-if="vm.controls.custom_external" ng-click="vm.showCustomAnnotationModal('external')">Add external DB</button>
    <button ng-if="vm.controls.custom_prediction" ng-click="vm.showCustomAnnotationModal('prediction')">Add prediction</button>
    <button ng-if="vm.controls.add_reference" ng-click="vm.showAddReferenceModal()">Add reference</button>
    <button ng-if="vm.onSkip" ng-click="vm.onSkip()">Go to next</button>
    <div class="grouped-controls" ng-if="vm.controls.classification && vm.isAlleleAssessmentReused()">
      <button ng-click="vm.toggleReuseAlleleAssessment()">
        ✓ Classification accepted
      </button>
    </div>
    <div class="grouped-controls" ng-if="vm.controls.classification && !vm.isAlleleAssessmentReused()">
      <button ng-if="vm.alleleState.class2" ng-click="vm.toggleClass2()">
        ✓ Marked class 2
      </button>
      <button ng-if="vm.alleleState.classT" ng-click="vm.toggleTechnical()">
        ✓ Marked class T
      </button>
      <div class="dropdown white">
        <select ng-if="!vm.alleleState.class2 && !vm.alleleState.classT" ng-disabled="vm.alleleStatus.reuseAlleleAssessment" ng-model="vm.selected_class" ng-options="o.value as o.name for o in vm.classificationOptions"></select>
      </div>
      <button ng-if="!vm.alleleState.class2 && !vm.alleleState.classT" ng-click="vm.updateClassification()" ng-disabled="!vm.selected_class">{{vm.getUpdateText()}}</button>
    </div>
  </controls>
</card>
