<sectionbox class="id-sectionbox-{{section.name}}" color="purple" collapsed="vm.getSectionUserState().collapsed">

  <maintitle>
  {{vm.header}}
  </maintitle>

  <controls>

    <!-- Controls -->
    <section class="line-wrapper" ng-if=vm.controls.length>
      <div class="button" ng-repeat="control in vm.controls" ng-if="vm.showControls()">

          <button class="id-collapse-all"
                  ng-if="control == 'collapse_all'"
                  ng-click="vm.collapseAll()">Collapse all
          </button>
          <button class="id-igv"
                  ng-if="control == 'igv'"
                  ng-click="vm.showIgv()">Show in IGV
          </button>
          <button class="id-copy-alamut"
                  ng-if="control == 'copy_alamut'"
                  ng-click="vm.copyAlamut()">Copy to alamut
          </button>
          <button class="id-classification-outdated"
                  ng-if="control == 'reuse_classification' && vm.isAlleleAssessmentOutdated()"
                  disabled>Classification outdated
          </button>

          <checkable-button class="id-accept-classification"
                            ng-if="control == 'reuse_classification' && vm.hasExistingAlleleAssessment() && !vm.isAlleleAssessmentOutdated()"
                            show-mark="true"
                            check-model="vm.isAlleleAssessmentReused()"
                            ng-click="vm.toggleReuseAlleleAssessment()"
                            one-way="true"
                            ng-disabled="vm.readOnly">
              Use existing
              <checked>Existing reused</checked>
          </checkable-button>
          <button class="id-mark-technical"
                  ng-if="control == 'toggle_technical'"
                  ng-click="vm.setTechnical()"
                  ng-disabled="vm.alleleState.class2 || vm.alleleState.class1 || vm.isAlleleAssessmentReused() || vm.readOnly">
          Mark technical
        </button>

          <button class="id-mark-class1"
                  ng-if="control == 'toggle_class1'"
                  ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                  ng-click="vm.setClass1()">
              Mark class 1
          </button>

          <button class="id-mark-class2"
                  ng-if="control == 'toggle_class2'"
                  ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                  ng-click="vm.setClass2()">
              Mark class 2
          </button>

          <button class="id-add-references"
                  ng-click="vm.showAddReferenceModal()"
                  ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                  ng-if="control == 'references'">Add references
          </button>

          <button class="id-show-ignored-references"
                  ng-click="vm.showHideExcludedReferences()"
                  ng-if="control == 'references'">{{vm.getExcludeReferencesBtnText()}}
          </button>



          <button class="id-add-external"
                  ng-if="control == 'custom_external'"
                  ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                  ng-click="vm.showCustomAnnotationModal('external')">Add external DB
          </button>

          <button class="id-add-prediction"
                  ng-if="control == 'custom_prediction'"
                  ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                  ng-click="vm.showCustomAnnotationModal('prediction')">Add prediction
          </button>

          <button ng-if="control == 'add_reference'"
                  ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                  ng-click="vm.showAddReferenceModal()">Add reference
          </button>

          <button class="id-goto-next"
                  ng-if="control == 'skip_next'"
                  ng-click="vm.onSkip()">Go to next
          </button>

        <section class="line-wrapper" ng-if="control == 'classification'">
          <div class="dropdown">
              <select class="id-select-classification"
                      ng-class="{'readOnly': vm.readOnly}"
                      ng-disabled="vm.isAlleleAssessmentReused() || vm.readOnly"
                      ng-model="vm.getAlleleAssessment().classification"
                      ng-options="o.value as o.name for o in vm.classificationOptions"
                      ng-change="vm.changeClassification()"></select>
          </div>
        </section>
      </div>
    </section>

</controls>

<!-- Comments -->
<top class="comments">
    <wysiwyg-editor class="control-comment id-comment-{{vm.alleleassessmentComment.name}}"
                       ng-disabled="!vm.isEditable() || vm.readOnly"
                       placeholder="{{vm.alleleassessmentComment.placeholder}}"
                       ng-model="vm.getAlleleAssessment().evaluation[vm.alleleassessmentComment.name].comment"
                       ng-if="vm.alleleassessmentComment"></wysiwyg-editor>
    <wysiwyg-editor class="control-comment id-comment-report"
                       ng-disabled="!vm.isEditable() || vm.readOnly"
                       placeholder="{{vm.allelereportComment.placeholder}}"
                       ng-model="vm.getAlleleReport().evaluation.comment"
                       ng-if="vm.allelereportComment"></wysiwyg-editor>

    <!-- Included ACMG codes -->
    <!-- Don't use 'track by $index' -->
    <div class="id-acmg-included" ng-if="vm.section.options.show_included_acmg_codes">
        <h4 class="section-title acmg-body">ACMG <span ng-if="!vm.readOnly">(SUGGESTED CLASS: <span class="suggested-class">{{vm.getSuggestedClassification()}}</span>)</span></h4>
        <section class="acmg-wrapper included">
          <acmg directreqs="true"
                code="code"
                adjustable="true"
                ng-repeat="code in vm.getAlleleAssessment().evaluation.acmg.included"
                on-toggle="vm.excludeACMG(code)"
                toggle-text="REMOVE"
                comment-model="code.comment"
                read-only="vm.readOnly"
                editable="vm.isEditable() && !vm.readOnly">
          </acmg>
        </section>
    </div>
</top>

<contentwrapper>
    <allele-sectionbox-content
      class="sectionbox-content"
      analysis="vm.analysis"
      allele="vm.allele"
      references="vm.references"
      allele-state="vm.alleleState"
      allele-user-state="vm.alleleUserState"
      boxes="vm.section.content"
      boxes-options="vm.sectionOptions"
      on-save="vm.onUpdate()"
      read-only="vm.readOnly || vm.isAlleleAssessmentReused()"
    ></allele-sectionbox-content>
</contentwrapper>
</sectionbox>
