<contentbox title="Consequence" title-url="{{vm.allele.getEnsemblUrl()}}">
  <cbbody>
    <div class="cb-warning" ng-if="vm.allele.annotation.hasWorseConsequence()">
      WORSE CONSEQUENCE FOUND IN:
      <ul>
        <li ng-repeat="t in vm.allele.annotation.getWorseConsequenceTranscripts()">{{t.consequences.join(',')}} in {{t.transcript}}</li>
      </ul>
    </div>
    <div ng-repeat="t in vm.allele.annotation.filtered track by t.transcript"
      class="clickable"
      popover-trigger="outsideClick"
      uib-popover-template="'ngtmpl/alleleInfoConsequencePopover.ngtmpl.html'"
      popover-append-to-body="true"
      popover-title="Consequences"
      popover-placement="auto top">
        <transcript-wrapper transcript="t">
            <p ng-repeat="c in t.consequences">{{c | noUnderscores}}</p>
        </transcript-wrapper>
    </div>
  </cbbody>
</contentbox>

