<section class="line-wrapper spaced">
    <div>
        <h5 class="wrap">
            <a-clip ng-if="reference.getPubmedUrl()" class="id-reference-title" href="{{reference.getPubmedUrl()}}">{{reference.title}}</a-clip>
            <span ng-if="!reference.getPubmedUrl()" class="id-reference-title">{{reference.title}}</span>
        </h5>
        <p>{{reference.getShortDesc()}}</p>
    </div>
    <div class="nowrap">
        <button class="blue id-reference-evaluate"
                ng-click="vm.showReferenceEval(reference)"
                >{{vm.getEvaluateBtnText(reference)}}</button>
        <button class="blue id-reference-evaluate" ng-disabled="vm.readOnly"
                ng-click="vm.quickIgnore(reference)"
                >Ignore</button>
    </div>
</section>

