<contentbox class="max-width id-references-box" title="{{$ctrl.title}}" ng-if="$ctrl.hasContent() && !($ctrl.type == 'excluded' && !$ctrl.showExcluded)">
  <cbbody>
      <article class="acmg-body id-reference-pending-unpublished" ng-repeat="ref in $ctrl.references.pending.unpublished" ng-if="$ctrl.type === 'pending'">
          <allele-info-reference-detail reference-id="ref.id"></allele-info-reference-detail>
      </article>
      <article class="acmg-body id-reference-pending-published" ng-repeat="ref in $ctrl.references.pending.published" ng-if="$ctrl.type === 'pending'">
          <allele-info-reference-detail reference-id="ref.id"></allele-info-reference-detail>
      </article>
      <article class="id-article-unreferenced" ng-repeat="ref in $ctrl.references.missing" ng-if="$ctrl.type === 'pending'">
            <section class="line-wrapper">
            <div>
              <h5 class="wrap">Missing data for Pubmed ID <a-clip href="http://www.ncbi.nlm.nih.gov/pubmed/{{ref.pubmed_id}}">{{ref.pubmed_id}}</a-clip> in database. Please add the reference manually.</h5>
            </div>
        </section>
      </article>
      <h3 ng-if="$ctrl.references.evaluated.unpublished.length > 0">Unpublished studies</h3>
      <article class="acmg-body id-reference-evaluated-unpublished" ng-repeat="ref in $ctrl.references.evaluated.unpublished" ng-if="$ctrl.type === 'evaluated'">
          <allele-info-reference-detail reference-id="ref.id" ></allele-info-reference-detail>
          <referenceassessment reference-id="ref.id"></referenceassessment>
      </article>
      <h3 ng-if="$ctrl.references.evaluated.published.length > 0">Published studies</h3>
      <article class="acmg-body id-reference-evaluated-published" ng-repeat="ref in $ctrl.references.evaluated.published" ng-if="$ctrl.type === 'evaluated'">
          <allele-info-reference-detail reference-id="ref.id" ></allele-info-reference-detail>
          <referenceassessment reference-id="ref.id"></referenceassessment>
      </article>
      <h3 ng-if="$ctrl.references.excluded.unpublished.length > 0 || $ctrl.references.excluded.published.length > 0">Unpublished and Published studies</h3>
       <article class="acmg-body id-reference-excluded-unpublished" ng-repeat="ref in $ctrl.references.excluded.unpublished">
          <allele-info-reference-detail reference-id="ref.id" ></allele-info-reference-detail>
          <referenceassessment reference-id="ref.id"></referenceassessment>
      </article>
      <article class="acmg-body id-reference-excluded-published" ng-repeat="ref in $ctrl.references.excluded.published">
          <allele-info-reference-detail reference-id="ref.id" ></allele-info-reference-detail>
          <referenceassessment reference-id="ref.id"></referenceassessment>
      </article>
  </cbbody>
</contentbox>

