<section class="line-wrapper spaced">
    <div>
        <h5 class="wrap">
            <a-clip
                ng-if="$ctrl.reference.urls.pubmed"
                class="id-reference-title"
                href="{{ $ctrl.reference.urls.pubmed }}"
                >{{ $ctrl.reference.title }}</a-clip
            >
            <span ng-if="!$ctrl.reference.urls.pubmed" class="id-reference-title">{{
                $ctrl.reference.title
            }}</span>
        </h5>
        <p>{{ $ctrl.reference.formatted.shortDesc }}</p>
    </div>
    <div class="nowrap">
        <button
            class="blue id-reference-evaluate"
            ng-click="$ctrl.evaluateReferenceClicked({alleleId: $ctrl.selectedAllele, referenceId: $ctrl.reference.id})"
        >
            {{ $ctrl.getEvaluateBtnText() }}
        </button>
        <button
            class="blue id-reference-evaluate"
            ng-disabled="$ctrl.readOnly || $ctrl.alleleAssessmentReused"
            ng-click="$ctrl.ignoreReferenceClicked({alleleId: $ctrl.selectedAllele, referenceId: $ctrl.referenceId})"
        >
            Ignore
        </button>
    </div>
</section>
