<contentbox ng-class="{'no-content': !vm.hasContent()}">
  <cbheader>
    <h3 class="title">Splice</h3>
  </cbheader>
  <cbbody>
    <div ng-repeat="t in ::vm.allele.annotation.filtered track by t.Transcript"
      popover-trigger="outsideClick"
      uib-popover-template="'ngtmpl/alleleInfoSplicePopover.ngtmpl.html'"
      popover-title="Splice predictions"
      popover-placement="auto top"
    >
      <transcript-wrapper  transcript="t">

                           <p class="clickable" ng-repeat="c in ::t.Splice">
                               {{::c.splice_Effect | noUnderscores}}
                           </p>
      </transcript-wrapper>
    </div>
  </cbbody>
</contentbox>
