<section class="reference-detail line-wrapper spaced">
    <div class="reference-title-container">
        <div class="reference-title">
            <a-clip
                ng-if="$ctrl.reference.urls.pubmed"
                class="id-reference-title"
                href="{{ $ctrl.reference.urls.pubmed }}"
                >{{ $ctrl.reference.title }}</a-clip
            >
            <span ng-if="!$ctrl.reference.urls.pubmed" class="id-reference-title">{{
                $ctrl.reference.title
            }}</span>
        </div>
        <div class="reference-desc">
            {{ $ctrl.reference.formatted.shortDesc }}
            <span ng-if="$ctrl.getSources().length"
                >•
                <span ng-repeat="source in $ctrl.getSources()">
                    <span ng-switch="source">
                        <span ng-switch-when="HGMD">
                            <a-clip href="{{ $ctrl.allele.urls.hgmd }}">{{ source }}</a-clip>
                        </span>
                        <span ng-switch-when="CLINVAR">
                            <a-clip href="{{ $ctrl.allele.urls.clinvar }}">{{ source }}</a-clip>
                        </span>
                        <span ng-switch-default>{{ source }}</span></span
                    ></span
                >
            </span>
        </div>
    </div>
    <div class="nowrap">
        <button
            class="blue id-reference-evaluate"
            ng-click="$ctrl.evaluateReferenceClicked({alleleId: $ctrl.selectedAllele, referenceId: $ctrl.reference.id})"
        >
            {{ $ctrl.getEvaluateBtnText() }}
        </button>
        <button
            class="blue id-reference-evaluate"
            ng-disabled="$ctrl.readOnly || $ctrl.alleleAssessmentReused"
            ng-click="$ctrl.ignoreReferenceClicked({alleleId: $ctrl.selectedAllele, referenceId: $ctrl.referenceId})"
        >
            Ignore
        </button>
    </div>
</section>
