<contentbox title="Consequence" title-url="{{$ctrl.allele.urls.ensembl}}">
  <cbbody>
    <div class="cb-warning" ng-if="$ctrl.worstConsequenceTranscripts.length">
      WORSE CONSEQUENCE FOUND IN:
      <ul>
        <li ng-repeat="t in $ctrl.worstConsequenceTranscripts">{{t.consequences.join(',')}} in {{t.transcript}}</li>
      </ul>
    </div>
    <div ng-repeat="t in $ctrl.allele.annotation.filtered track by t.transcript"
      class="clickable"
      popover-trigger="outsideClick"
      uib-popover-template="'alleleInfoConsequencePopover.ngtmpl.html'"
      popover-append-to-body="true"
      popover-title="Consequences"
      popover-placement="auto top">
        <transcript-wrapper transcript="t">
            <p ng-repeat="c in t.consequences">{{c | noUnderscores}}</p>
        </transcript-wrapper>
    </div>
  </cbbody>
</contentbox>

