<contentbox class="max-width" title="References" ng-if="vm.allele_references.length+vm.missing_references.length">
  <cbbody>
    <article class="acmg-body" ng-repeat="ref in vm.allele_references">
      <div>
        <h4 class="faded-title">Article</h4>
      </div>
      <section class="line-wrapper spaced">
        <div>
          <h5 class="wrap"><a-clip class="id-reference-title" href="{{vm.getPubmedUrl(ref.pubmed_id)}}">{{ref.title}}</a-clip></h5>
          <p>{{ref.getShortDesc()}}</p>
          <p ng-if="ref.abstract"><a class="clickable"
              popover-title="Abstract"
              popover-trigger="outsideClick"
              uib-popover-template="'ngtmpl/abstractPopover.ngtmpl.html'"
              popover-placement="bottom-left"
              popover-append-to-body="true"
              class="faded-title"
            >Abstract</a></p>
          <div ng-repeat="(source, sourceStr) in vm.getReferenceDBSources(ref.pubmed_id)">
              <div ng-switch=source>
                  <p ng-switch-when="HGMD"><a-clip href="{{vm.allele.getHGMDUrl()}}">Source: {{ sourceStr }}</a-clip></p>
                  <p ng-switch-when="CLINVAR"><a-clip href="{{vm.allele.getClinvarUrl()}}">Source: {{ sourceStr }}</a-clip></p>
                  <p ng-switch-default>Source: {{ sourceStr }}</p>
              </div>
          </div>
        </div>
        <div>
          <button class="blue id-reference-evaluate"
                  ng-click="vm.showReferenceEval(ref)"
          >{{vm.getEvaluateBtnText(ref)}}</button>
        </div>
      </section>

      <referenceassessment referenceassessment="vm.getReferenceAssessment(ref)"></referenceassessment>

    </article>

    <article ng-repeat="ref in vm.missing_references">
      <section class="line-wrapper">
        <div>
          <h5 class="wrap">Missing data for Pubmed ID <a-clip href="{{vm.getPubmedUrl(ref)}}">{{ref}}</a-clip> in database. Please add the reference manually.</h5>
        </div>
      </section>
    </article>
  </cbbody>
</contentbox>

