<sectionbox class="prompt" color="pink" modal="true" on-close="vm.modal.close">
  <titlebar>
    <h3 class="title">WARNING: ONGOING ANALYSIS</h3>
  </titlebar>
  <controls>
    <section class="buttons only">
      <button type="button" ng-click="vm.modal.close(true)">Assign me as user</button>
      <button type="button" class="normal" ng-click="vm.modal.close(false)">Leave as is</button>
    </section>
  </controls>
  <contentwrapper>
    <h4 class="sb-notification"> This analysis is currently assigned to another user. </h4>
    <h4 class="sb-notification"> Do you want to unassign this user and assign yourself instead? </h4>
  </contentwrapper>
</sectionbox>
