<div class="add-excluded-alleles-modal">
    <div class="modal-header">
        <h3 class="modal-title">Take over analysis?</h3>
    </div>
    <div class="modal-body">
        This analysis is currently assigned to another user. Do you want to take over the analysis?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" ng-click="vm.modal.close(true)">Yes</button>
        <button class="btn" type="button" ng-click="vm.modal.close(false)">No</button>
    </div>
</div>
