<card color="wine" modal="true" on-close="vm.modal.close" collapsible="false" options="{}">
  <primary>
    <h3 class="header">WARNING: ONGOING ANALYSIS</h3>
  </primary>
  <bottom>
    <div class='question centered'>
      <h2>This analysis is currently assigned to another user.</h2>
      <h5>Do you want to unassign this user and assign yourself instead?</h5>
    </div>
  </bottom>
  <controls>
    <div>
      <button class="full-color red" type="button" ng-click="vm.modal.close(true)">Yes</button>
      <button type="button" ng-click="vm.modal.close(false)">No</button>
    </div>
  </controls>
</card>
