<card color="wine" modal="true" on-close="vm.modal.close" collapsible="false" options="{}" ng-if="!vm.reference">
  <primary> <h3 class="header">ERROR</h3> </primary>
  <bottom> <h3>No reference selected.</h3> </bottom>
  <controls> <div><button type="button" ng-click="vm.modal.close(false)">Close</button></div> </controls>
</card>
<card color="aqua" modal="true" on-close="vm.modal.close" collapsible="false" options="{}" ng-if="vm.reference">
  <primary>
    <h3 class="header">REFERENCE EVALUATION</h3>
    <h3 ng-click="1" ng-repeat="t in ::vm.allele.annotation.filtered track by t.Transcript">
      <div class="allele_popup hoverable" isolate-click>
        <transcript-wrapper  transcript="t"
                             popover-trigger="outsideClick"
                             uib-popover-template="'ngtmpl/phenotypes_popover.ngtmpl.html'"
                             popover-title="{{::t.SYMBOL}} ({{::vm.getInheritanceCodes(t.SYMBOL)}})"
                             popover-placement="right-top">

         {{::t.SYMBOL}}
      </transcript-wrapper>
      </div>
    </h3>
    <h3 ng-repeat="t in ::vm.allele.annotation.filtered track by t.Transcript"> <transcript-wrapper transcript="t"><i>{{::t.HGVSc | HGVS_firsthalf}}:</i><b>{{::t.HGVSc | HGVSc_short}}</b> </transcript-wrapper> </h3>
    <h3 ng-repeat="t in ::vm.allele.annotation.filtered track by t.Transcript"> <transcript-wrapper transcript="t"><i>{{::t.HGVSp | HGVS_firsthalf}}:</i><b>{{::t.HGVSp | HGVSp_short}}</b> </transcript-wrapper> </h3>
    <h3></h3>
  </primary>
  <secondary>
    <h5>{{vm.reference.title}}</h5>
    <p>{{vm.reference.getShortDesc()}}</p>
  </secondary>
  <bottom>
    <div class='question-set'>
      <div class='trow'>
        <div class="cell title middle"> <h5> Relevance </h5> <p> Is the reference relevant? </p> </div>
        <div class="cell check middle"></div>
        <div class="cell controls middle">
          <div class="btn-group btn-group-sm">
            <label class="btn btn-success" ng-model="vm.referenceAssessment.evaluation.relevance" uib-btn-radio="item" ng-repeat="item in vm.sources['relevance'].options">{{item}}</label>
          </div>
        </div>
      </div>
      <article class='trow' ng-repeat="source in vm.getSources() track by source" ng-if="vm.shouldShow(source)">
        <div class="cell title middle"> <h5> {{vm.sources[source].title}} </h5> <p> {{vm.sources[source].desc}} </p> </div>
        <div class="cell check middle">
          <span ng-if="vm.sources[source].optional">
            <input type="checkbox" class="box" checklist-model="vm.referenceAssessment.evaluation.sources" checklist-value="source">
          </span>
        </div>
        <div class="cell controls middle">
          <div class="btn-group btn-group-sm" ng-if="vm.sources[source].options">
            <label class="btn btn-success" ng-model="vm.referenceAssessment.evaluation[vm.sources[source].store]" uib-btn-radio="item[1]" ng-repeat="item in vm.sources[source].options" ng-disabled="vm.isDisabled(source)">{{item[0]}}</label>
          </div>
        </div>
      </article>
      <article class="trow">
        <div class="cell title middle"> <h5> Comments </h5></div>
        <div class="cell check middle"></div>
        <div class="cell controls middle"><autosize-textarea placeholder="COMMENTS" ng-model="vm.referenceAssessment.evaluation['comment']"></autosize-textarea></div>
      </article>
    </div>
  </bottom>
  <controls>
    <button type="button" ng-click="vm.modal.close()">Cancel</button>
    <button ng-click="vm.save()"> Save </button>
  </controls>
</card>
