<sectionbox ng-class="{'prompt': !vm.isAccepted}" color="{{vm.getModalColor()}}" modal="true" on-close="vm.modal.close">
  <maintitle>
    ANALYSES FOR <span ng-repeat="t in vm.allele.annotation.filtered">{{t.symbol}} <b>{{t.HGVSc | HGVSc_short}}</b></span>
  </maintitle>
  <controls>
    <section class="line-wrapper pinned-right" ng-if="!vm.isAccepted">
      <button type="button" class="red" ng-click="vm.acceptWarning()">I ACCEPT</button>
      <button type="button" class="normal" ng-click="vm.modal.close()">CLOSE</button>
    </section>
    <section class="line-wrapper pinned-right" ng-if="vm.isAccepted">
        <button type="button" class="normal" ng-click="vm.copyToClipboard()">COPY TO CLIPBOARD</button>
      <button type="button" class="normal" ng-click="vm.modal.close()">CLOSE</button>
    </section>
  </controls>
  <contentwrapper>
      <span style="padding-top: 1rem;"></span>
      <div ng-if="vm.isAccepted && vm.analyses" class="analysis-list">
        <analysis-list analyses="vm.analyses" new-target="true"></analysis-list>
      </div>
      <div ng-if="!vm.isAccepted">
        <h4 class="sb-notification"> Accessing a variant's analyses something something. </h4>
        <h4 class="sb-notification"> All access is logged. </h4>
      </div>
  </contentwrapper>
</sectionbox>
