---

version: 1
disable_existing_loggers: False

formatters:
    standard:
        format: "%(asctime)s [%(levelname)s] %(name)s: %(message)s"


handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: standard
        stream: ext://sys.stdout

loggers:
    "":
        handlers: [console]
        level: DEBUG
