{
    "index": "GCCAAT",
    "lane": 3,
    "stats": {
        "one_mismatch_index_pct": 2.24,
        "reads": 121434860,
        "mean_qual_score": 34.98,
        "q30_bases_pct": 88.94,
        "perfect_index_reads_pct": 97.76
    },
    "sequencer_id": "D00132",
    "flowcell_id": "C6HWKANXX",
    "reads": [
        {
            "path": "001.fastq.gz",
            "md5": "7ef7def836c94bd89fcac7d00f230d59",
            "size": 1732022
        },
        {
            "path": "001.fastq.gz",
            "md5": "dfd786e8c36c373f322cbbd08a67d8d4",
            "size": 1699397
        }
    ],
    "project": "Test-project01",
    "project_date": "2016-06-09",
    "flowcell": "A",
    "sample_id": "123456789",
    "capturekit": "agilent_sureselect_v05",
    "sequence_date": "2016-06-09",
    "taqman": "TestSample-001.taqman",
    "name": "TestSample-001"
}
