<sectionbox color="green" class="id-variants-your" on-collapse="$ctrl.collapseChangedWrapper(collapsed, 'yourVariants')" collapsed="$ctrl.state.yourVariants.collapsed">
  <maintitle>
    YOUR VARIANTS
  </maintitle>
  <subtitle>
    {{$ctrl.alleles.ongoing_user.length}}
  </subtitle>
  <contentwrapper>
    <allele-list store-path="'views.overview.data.alleles.ongoing_user'"></allele-list>
    <h4 class="sb-notification dim" ng-if="!$ctrl.alleles.ongoing_user.length">You have no variants</h4>
  </contentwrapper>
</sectionbox>

<sectionbox color="green" class="id-variants-pending" on-collapse="$ctrl.collapseChangedWrapper(collapsed, 'missingClassification')" collapsed="$ctrl.state.missingClassification.collapsed">
  <maintitle>
    PENDING CLASSIFICATION
  </maintitle>
  <subtitle>
    {{$ctrl.alleles.missing_alleleassessment.length}}
  </subtitle>
  <contentwrapper>
    <allele-list store-path="'views.overview.data.alleles.missing_alleleassessment'"></allele-list>
    <h4 class="sb-notification dim" ng-if="!$ctrl.alleles.missing_alleleassessment.length">No pending variants</h4>
  </contentwrapper>
</sectionbox>

<sectionbox color="purple" class="id-variants-review" on-collapse="$ctrl.collapseChangedWrapper(collapsed, 'review')" collapsed="$ctrl.state.review.collapsed">
  <maintitle>
    PENDING REVIEW
  </maintitle>
  <subtitle>
    {{$ctrl.alleles.marked_review.length}}
  </subtitle>
  <contentwrapper>
    <allele-list store-path="'views.overview.data.alleles.marked_review'"></allele-list>
    <h4 class="sb-notification dim" ng-if="!$ctrl.alleles.marked_review.length">No variants pending review</h4>
  </contentwrapper>
</sectionbox>

<div class="spacer"></div>

<sectionbox color="blue" class="id-variants-others"  on-collapse="$ctrl.collapseChangedWrapper(collapsed, 'othersVariants')" collapsed="$ctrl.state.othersVariants.collapsed">
  <maintitle>
    OTHERS' VARIANTS
  </maintitle>
  <subtitle>
    {{$ctrl.alleles.ongoing_others.length}}
  </subtitle>
  <contentwrapper>
    <allele-list store-path="'views.overview.data.alleles.ongoing_others'"></allele-list>
    <h4 class="sb-notification dim" ng-if="!$ctrl.alleles.ongoing_others.length">Others have no variants</h4>
  </contentwrapper>
</sectionbox>

<sectionbox color="blue" class="id-variants-finished" on-collapse="$ctrl.collapseChangedWrapper(collapsed, 'finished')" collapsed="$ctrl.state.finished.collapsed">
  <maintitle>
    FINISHED
  </maintitle>
  <subtitle>
    {{$ctrl.finalized.pagination.totalCount}}
  </subtitle>
  <controls>
        <uib-pagination total-items="$ctrl.finalized.pagination.totalCount"
        ng-model="$ctrl.finalized.finalized_page"
        class="pagination-sm"
        ng-change="$ctrl.alleles.finalizedPageChanged()"
        items-per-page="$ctrl.finalized.finalized.pagination.perPage"
        max-size="5"
        rotate="false">
      </uib-pagination>
  </controls>
  <contentwrapper>
    <allele-list sort="false" store-path="'views.overview.data.allelesFinalized.entries'"></allele-list>
    <h4 class="sb-notification dim" ng-if="!$ctrl.finalized.entries.length">No finished variants</h4>
  </contentwrapper>
</sectionbox>
