<div class="custom-genepanel">
    <div class="name">
        <div class="question tiny line-wrapper">
            <div class="left">
                <h5 class="slim title">
                    <b>CUSTOM GENEPANEL NAME</b>
                </h5>
            </div>
            <div class="right">
                <input
                    type="text"
                    maxlength="12"
                    placeholder="NAME"
                    ng-model="$ctrl.modelCustomGenepanelName"
                    ng-model-watch="$ctrl.addedGenepanel.name"
                    ng-change="$ctrl.customGenepanelNameChanged({name: $ctrl.modelCustomGenepanelName})"
                />_{{ $ctrl.addedGenepanel.version }}
            </div>
        </div>
    </div>

    <h4 class="section-header">Add transcripts:</h4>
    <div class="section">
        <div class="filter">
            <div class="dropdown white">
                <select
                    class="genepanel-select"
                    ng-options="gp as gp.name + '_' + gp.version for gp in $ctrl.genepanels track by gp.name + gp.version"
                    ng-model="$ctrl.modelSelectedGenepanel"
                    ng-model-watch="$ctrl.selectedGenepanel"
                    ng-change="$ctrl.selectedGenepanelChanged({genepanel: $ctrl.modelSelectedGenepanel})"
                >
                </select>
            </div>
            <div class="bttn-set">
                <label
                    tabindex="0"
                    class="bttn"
                    uib-btn-radio="mode"
                    ng-model="$ctrl.modelSelectedFilterMode"
                    ng-model-watch="$ctrl.selectedFilterMode"
                    ng-repeat="mode in ['single', 'batch']"
                    ng-change="$ctrl.selectedFilterModeChanged({selectedFilterMode: $ctrl.modelSelectedFilterMode})"
                    >{{ mode }}</label
                >
            </div>
            <!-- single mode -->
            <input
                ng-if="$ctrl.selectedFilterMode == 'single'"
                class="gene-single-input"
                type="text"
                placeholder="FILTER"
                ng-model="$ctrl.modelCandidatesFilter"
                ng-model-watch="$ctrl.candidatesFilter"
                ng-change="$ctrl.candidatesFilterChanged({filter: $ctrl.modelCandidatesFilter})"
            />
            <!-- batch mode -->
            <div class="batch-mode" ng-if="$ctrl.selectedFilterMode == 'batch'">
                <textarea
                    class="gene-batch-input"
                    type="text"
                    placeholder="PASTE/TYPE GENE NAMES OR HGNC IDS"
                    ng-model="$ctrl.modelCandidatesFilterBatch"
                    ng-model-watch="$ctrl.candidatesFilterBatch"
                ></textarea>
                <div class="batch-mode-controls">
                    <button ng-if="$ctrl.filterBatchProcessed" class="red">Clear</button>
                    <button ng-if="$ctrl.filterBatchProcessed" class="blue">Copy</button>
                    <button
                        ng-if="!$ctrl.filterBatchProcessed"
                        class="blue"
                        ng-click="$ctrl.applyFilterBatchClicked({filterBatch: $ctrl.modelCandidatesFilterBatch})"
                    >
                        Apply
                    </button>
                </div>
            </div>
        </div>
        <div class="results">
            <div class="results-header">
                <span class="slim title upper"
                    ><b>{{ $ctrl.getCandidatesFilterText() }}</b>
                    <small>{{ $ctrl.getCandidatesFilterSubText() }}</small></span
                >
                <button class="gene-button blue" ng-click="$ctrl.addAllTranscriptsClicked()">
                    Add all
                </button>
                <uib-pagination
                    total-items="$ctrl.candidatesFilteredTotalItems"
                    ng-model="$ctrl.modelCandidatesSelectedPage"
                    ng-model-watch="$ctrl.candidatesSelectedPage"
                    class="pagination-sm gene-pagination"
                    items-per-page="$ctrl.candidatesPerPage"
                    ng-change="$ctrl.selectedCandidatesPageChanged({selectedPage: $ctrl.modelCandidatesSelectedPage})"
                    boundary-links="true"
                    max-size="5"
                    rotate="false"
                >
                </uib-pagination>
            </div>

            <div class="gene-list">
                <div
                    class="list-item"
                    ng-class="{'added': transcript.added}"
                    ng-repeat="transcript in $ctrl.candidateTranscripts"
                >
                    <div class="gene">
                        {{ transcript.hgnc_symbol }} ({{ transcript.inheritance }})
                    </div>
                    <div class="transcript">
                        {{ transcript.transcript_name }}
                    </div>
                    <div class="action">
                        <button
                            class="blue"
                            ng-disabled="transcript.added"
                            ng-click="$ctrl.addTranscriptClicked({added: transcript})"
                        >
                            {{ $ctrl.getAddBtnText(transcript) }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="section-header">Added:</h4>
    <div class="section">
        <div class="filter">
            <input
                type="text"
                placeholder="FILTER"
                ng-model="$ctrl.modelAddedFilter"
                ng-model-watch="$ctrl.addedFilter"
                ng-change="$ctrl.addedFilterChanged({filter: $ctrl.modelAddedFilter})"
            />
        </div>
        <div class="results">
            <div class="results-header">
                <span class="slim title upper"
                    ><b>{{ $ctrl.getAddedFilterText() }}</b>
                    <small>{{ $ctrl.getAddedFilterSubText() }}</small></span
                >
                <button class="red" ng-click="$ctrl.removeAllTranscriptsClicked()">
                    Remove all
                </button>
                <uib-pagination
                    total-items="$ctrl.addedFilteredTotalItems"
                    ng-model="$ctrl.modelAddedSelectedPage"
                    ng-model-watch="$ctrl.addedSelectedPage"
                    class="pagination-sm gene-pagination"
                    items-per-page="$ctrl.addedPerPage"
                    ng-change="$ctrl.selectedAddedPageChanged({selectedPage: $ctrl.modelAddedSelectedPage})"
                    boundary-links="true"
                    max-size="5"
                    rotate="false"
                >
                </uib-pagination>
            </div>
            <div class="gene-list">
                <div class="list-item" ng-repeat="transcript in $ctrl.addedTranscripts">
                    <div class="gene">
                        {{ transcript.hgnc_symbol }} ({{ transcript.inheritance }})
                    </div>
                    <div class="transcript">
                        {{ transcript.transcript_name }}
                    </div>
                    <div class="action">
                        <button
                            class="blue"
                            ng-click="$ctrl.removeTranscriptClicked({removed: transcript})"
                        >
                            Remove
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
